<div *ngIf="loader"
    class="spinner-container spinner-container d-flex position-fixed h-100 w-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>


<button type="button" class="btn back_btn mt-3" (click)="previousPage()"><i
        class="fas fa-arrow-alt-circle-left"></i></button>


<div class="card main_cnt mb-3">

    <div class="main_heading">Manufacture</div>
    <hr style="margin: 1% auto 1.5% -3%; width: 106%;">
    <form [formGroup]="item_form">
        <div class="col-sm-12 px-0 d-flex flex-row">
            <div class="col-sm-3">
                <label for="">Product Name <span class="text-danger">*</span></label>
                <select formControlName="prod_name" class="form-control field_height">
                    <option value="choose_prod">Choose Product</option>
                    <option class="disable" *ngFor="let category of getCategoryData;let i=index"
                        [value]="category.prod_id">
                        {{category.prod_name}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="">Estimated Time (In days) <span class="text-danger">*</span></label>
                <input type="number" (keypress)="prevent($event, 'qty')" min="1" formControlName="est_time"
                    class="form-control field_height">
            </div>
            <!-- <div class="col-sm-2 pl-0">
                    <label for="">GST</label>                    
                    <select name="" id="" formControlName="gst" class="form-control inp_tag">
                        <option value="gst" selected disabled>Select gst</option>
                        <option value="0">0 %</option>
                        <option value="5">5 %</option>
                        <option value="12">12 %</option>
                        <option value="18">18 %</option>
                        <option value="28">28 %</option>
                    </select> 
                </div>
                <div class="col-sm-2">
                    <label for="">Low Stock</label>
                    <input type="number" (keypress)="prevent($event, 'prc')" formControlName="stock" class="form-control">
                </div>
                <div class="col-sm-2 ">
                    <label for="">Unit</label>
                    <select name="" id="" formControlName="unit" class="form-control inp_tag">
                        <option value="unit" selected disabled>Select unit</option>
                        <option value="PCS">PCS</option>
                        <option value="PKT">PKT</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="">Mrp</label>
                    <input type="number" (keypress)="prevent($event, 'prc')" formControlName="mrp" class="form-control">
                </div>
                <div class="col-sm-2 px-0">
                    <label for="">Hsn</label>
                    <input type="number" (keypress)="prevent($event, 'qty')" formControlName="hsn" class="form-control">
                </div> -->
        </div>
    </form>

    <!-- <div class="row col-sm-12" *ngIf="productformarray.length!=0">
  
        <div class="col-sm-12 text-right"><button class="btn btn-success"
                (click)="add_purchase_details()">Submit</button></div>
                        </div> -->

    <!-- </div> -->
    <!-- </div> -->

    <div class="mt-3">
        <form [formGroup]="addmat">
            <table class="table">
                <thead>
                    <tr>
                        <th rowspan="2">Product</th>
                        <th rowspan="2">Hsn</th>
                        <th rowspan="2">Quantity</th>
                        <th style="white-space: nowrap;" rowspan="2">Sale Price</th>
                        <th rowspan="2">Unit</th>
                        <th colspan="2">GST</th>
                        <th rowspan="2">Total</th>
                        <th rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <td class="td_e">Rate(%)</td>
                        <td class="td_e">Amount</td>
                    </tr>

                </thead>
                <tbody>
                    <ng-container formArrayName="product">
                        <tr *ngFor="let Product of addmat.get('product')['controls'];let i=index" [formGroupName]="i">
                            <td class="td_e">
                                <select class="form-control table_input" id="item"
                                    (change)="chooseMaterial(Product, $event.target.value); totalCalculation()"
                                    formControlName="item" [disabled]="item_form.invalid">
                                    <option value="choose_mat">Choose Material</option>
                                    <option class="disable" *ngFor="let mat of rawMat" [value]="mat.material_id"
                                        [disabled]="item_form.invalid || item_form.get('prod_name').value == 'choose_prod'">
                                        {{mat.item_name}}</option>
                                </select>
                            </td>
                            <td class="td_e"><input type="text" formControlName="hsn" class="form-control table_input"
                                    disabled>
                            </td>
                            <td class="td_e"><input type="number" formControlName="qty" id="qty"
                                    class="form-control table_input"
                                    (input)="calc_total(Product.controls); totalCalculation()"
                                    (keypress)="prevent($event, 'qty')" min="1"
                                    [readonly]="Product.controls.item.value == 'choose_mat'">
                            </td>
                            <td class="td_e"><input type="number" formControlName="price" id="price"
                                    (input)="calc_total(Product.controls); totalCalculation()"
                                    class="form-control table_input" min="0"
                                    [readonly]="Product.controls.item.value == 'choose_mat'"></td>
                            <td class="td_e"><input type="text" formControlName="unit" id="discount"
                                    class="form-control table_input" readonly></td>
                            <td class="td_e"><input type="number" formControlName="gst_rate"
                                    class="form-control table_input" disabled></td>
                            <td class="td_e"><input type="number" formControlName="gst" class="form-control table_input"
                                    disabled></td>
                            <td class="td_e"><input type="number" formControlName="total"
                                    class="form-control table_input" readonly></td>
                            <!-- <td class="td_e">
                                <button border="none" class="btn btn-primary disable" (click)="submitArray(i)"
                                    [disabled]="i.invalid"><i class="fas fa-check"></i></button>
                            </td> -->
                            <td class="delete_btn">
                                <button border="none" class="btn text-danger disable"
                                    (click)="deleteRow(i); totalCalculation()"
                                    [disabled]="addmat.get('product').length == 1"><i
                                        class="fas fa-times-circle"></i></button>
                                <!-- <button border="none" class="btn edit_btn disable" formControlName="edit"
                                        (click)="Edit(Product.controls, i)"><i class="fa fa-edit" aria-hidden="true"></i></button> -->
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot>
                    <tr style="border: 1px solid lightgrey;">
                        <td class="td_e" colspan="2" style="white-space: nowrap; float: left; padding: 2px; border: 0;">
                            <button class="btn text-info disable" (click)="add_row()"
                                [disabled]="addmat.get('product')['controls'][addmat.get('product')['controls'].length-1].value.item == 'choose_mat'">
                                <span><i class="fas fa-plus"></i>&nbsp; &nbsp;</span><span>Add Row</span>   
                            </button>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </form>
    </div>



    <div class="total_cal mb-4">
        <table style="width: 290px; color: black;">
            <tr>
                <th style="width: 120px;"></th>
                <th style="width: 50px;"></th>
                <th style="width: 120px;"></th>
            </tr>
            <tr>
                <td>Total GST</td>
                <td>:</td>
                <td><input name="t_gst" [(ngModel)]="t_gst" class="total_cal_field" type="text" readonly></td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>:</td>
                <td><input name="t_amount" [(ngModel)]="t_amount" class="total_cal_field" type="text" readonly></td>
            </tr>
        </table>
    </div>

    <hr style="margin: 1% auto 1.5% -3%; width: 106%; margin-top: 10%;">

    <div class="footer_btn">
        <button class="btn btn-warning mr-2" (click)="previousPage()">Cancel</button>
        <button class="btn btn-primary disable"
            [disabled]="addmat.get('product')['controls'][addmat.get('product')['controls'].length-1].value.item == 'choose_mat' || item_form.get('est_time').hasError('min')"
            (click)="add_requirement()">Submit</button>
    </div>

</div>