<app-ui-modal #showPinModal [dialogClass]="'modal-dialog-centered'" style="pointer-events: none;">
    <div class="app-modal-header">
        <h3 style="font-size: 15px; color: #fff;">Please Enter Shop Pincode</h3>
    </div>
    <div class="app-modal-body">
        <form action="" [formGroup]="pinCodeForm">
            <label for="" style="font-size: 15px;">PinCode <span class="text-danger">*</span> :</label>
            <input type="text" formControlName="pin_code" class="inp_fld" maxlength="6" (keypress)="omit_char($event) && omit_special_char($event)">

            <div *ngIf="pinCodeForm.get('pin_code').hasError('required') && pinCodeForm.get('pin_code').touched"
                class="err-message">
                <span class="text-danger">Can't be Blank...</span>
            </div>
            <div *ngIf="pinCodeForm.get('pin_code').hasError('pattern') && pinCodeForm.get('pin_code').touched"
                class="err-message">
                <span class="text-danger">Enter a valid Pin Code</span>
            </div>
            <div class="btns my-1 py-1">
                <button type="submit" class="btn btn_ok" (click)="validate_pinCode()"
                    [disabled]="pinCodeForm.invalid">ok</button>
                <button type="reset" class="btn btn_can" (click)="navTodash()">cancel</button>
            </div>
        </form>
    </div>
</app-ui-modal>


<app-ui-modal #showAadharModal [dialogClass]="'modal-dialog-centered'" style="pointer-events: none;">
    <div class="app-modal-header">
        <h3 style="font-size: 15px; color: #fff;">Please Enter AADHAAR/ VID</h3>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="aadharForm">
            <label for="" style="font-size: 15px;">Hello, <span style="font-weight: 900;">{{login_user}}</span> please
                provide your AADHAAR Id or VID !!<span class="text-danger">*</span> :</label>
            <input type="text" formControlName="aadhar_no" class="inp_fld" maxlength="16" (keypress)="omit_char($event) && omit_special_char($event)">
            <div *ngIf="aadharForm.get('aadhar_no').hasError('required') && aadharForm.get('aadhar_no').touched"
                class="err-message">
                <span class="text-danger">Can't be Blank...</span>
            </div>
            <!-- <label for="" style="font-size: 15px;">Enter IIN<span class="text-danger">*</span> :</label>
            <input type="text" formControlName="iin" class="inp_fld" maxlength="6" (keypress)="omit_char($event) && omit_special_char($event)">
            <div *ngIf="aadharForm.get('iin').hasError('required') && aadharForm.get('iin').touched"
                class="err-message">
                <span class="text-danger">Can't be Blank...</span>
            </div>

            <label for="" style="font-size: 15px;">Enter Purpose Code<span class="text-danger">*</span> :</label>
            <input type="text" formControlName="pc" class="inp_fld" maxlength="2" (keypress)="omit_char($event) && omit_special_char($event)">
            <div *ngIf="aadharForm.get('pc').hasError('required') && aadharForm.get('pc').touched"
                class="err-message">
                <span class="text-danger">Can't be Blank...</span>
            </div> -->
            <div class="btns my-1 py-1">
                <button type="submit" class="btn btn_ok" (click)="change_modal()"
                    [disabled]="aadharForm.invalid">ok</button>
                <button type="reset" class="btn btn_can" (click)="navTodash()">cancel</button>
            </div>
        </form>
    </div>
</app-ui-modal>


<!-- <div class="col-sm-12 col-md-4">
    <app-card class="formwrapper h-auto">
      <mat-form-field>
        <mat-select [(ngModel)]="modeselect" (ngModelChange)="mychange($event)" class="deviceGroup">
          <mat-option value="option1"><img width="30" height="30" src="../../../../assets/images/mantra.svg"> Mantra
            Devices</mat-option>
          <mat-option value="option2"> <img width="30" height="30" src="../../../../assets/images/morfo.svg">
            Morpho Devices
          </mat-option>
          <mat-option value="option3"> <img width="30" height="30" src="../../../../assets/images/startek.svg">
            Startk Devices
          </mat-option>
          <mat-option value="option4"> <img width="30" height="30" src="../../../../assets/images/precision.svg">
            Precision Devices
          </mat-option>
          <mat-option value="option5"> <img width="30" height="30" src="../../../../assets/images/precision.svg">
            Tatvik Device
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="thumb">
        <mat-icon [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
          fingerprint</mat-icon>
        <button type="button" class="col-sm-4 btn btn-primary" *ngIf="mytabopened==='Cash Withdraw'"
          (click)="capturecashwithdraw();">Capture</button>
        <button type="button" class="col-sm-4 btn btn-primary" *ngIf="mytabopened==='Balance Enquiry'"
          (click)="captureBalanceEnquiry();">Capture</button>
        <button type="button" class="col-sm-4 btn btn-primary" *ngIf="mytabopened==='Ministatement'"
          (click)="captureMinistatement();">Capture</button>
        <button type="button" class="col-sm-4 btn btn-primary" *ngIf="mytabopened==='Aadhaar Pay'"
          (click)="captureAadharpay();">Capture</button>
      </div>
      <div class="col-sm-12 progresbars mt-4 p-0">
        <mat-progress-bar [value]="QScore"></mat-progress-bar>
        <h6 *ngIf="QScore"
          [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
          {{QScore}}% Captured</h6>
      </div>
      <div class="inputline">
        <h6 class="textclass">Recommended Fingerprint Strength is 50%</h6>
      </div>
    </app-card>
  </div> -->

<app-ui-modal #showFingerPrintModal [dialogClass]="'modal-dialog-centered'" style="pointer-events: none;">
    <div class="app-modal-header">
        <h3 style="font-size: 15px; color: #fff;">CAPTURE FINGERPRINT</h3>
    </div>
    <div class="app-modal-body">
        <div class="card">
            <div class="toggles">
                <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
                    <mat-button-toggle value="d" style="background-color: #00bed4; color: #fff;">Mantra
                    </mat-button-toggle>
                    <mat-button-toggle value="m" style="background-color: #00bed4; color: #fff;">Morpho
                    </mat-button-toggle>
                    <mat-button-toggle value="t" style="background-color: #00bed4; color: #fff;">Tatvik
                    </mat-button-toggle>
                    <mat-button-toggle value="p" style="background-color: #00bed4; color: #fff;">Precision
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="thumb my-2">
                <mat-icon style="font-size: 40px;"
                    [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
                    fingerprint</mat-icon>
            </div>
            <div class="thumb my-2">
                <button type="button" class="btn cap_btn" (click)="captureFingerPrint()">Capture</button>
            </div>
            <div class="progresbars my-2">
                <mat-progress-bar [value]="QScore"></mat-progress-bar>
                <h6 *ngIf="QScore"
                    [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
                    {{QScore}}% Captured</h6>
            </div>
            <div class="inputline">
                <h6 class="textclass">Recommended Fingerprint Strength is 50%</h6>
            </div>
        </div>
        <div class="thumb">
            <button type="button" class="btn sub_btn" (click)="validate_aadhar()" [disabled]="!QScoreData">submit</button>
        </div>
    </div>
</app-ui-modal>

<!-- Loader Starts -->
<ngx-spinner name="elasticSpinner">
    <p style="color: white; margin-top: 50px;"> Fetching Status... </p>
</ngx-spinner>
<!-- Loader Ends -->
