.spinner-border{
    width: 7rem;
    height: 7rem;
}
.close_btn{
    cursor: pointer;
    float: right; 
    border: none; 
    background: transparent;
    margin-left: 450px;
    font-size: 18px;
}

.btns, .modal-footer {
    button{
        border-radius: 3px;
    }
}

