<!-- Loader Starts -->
<div *ngIf="loader"
    class="spinner-container spinner-container d-flex position-fixed h-100 w-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Loader Ends -->


<app-req-entry class="add_prod" *ngIf='!prod_table && req_entry' (BackTab)="back()"></app-req-entry>
<app-req-edit class="add_prod" *ngIf='prod_table && req_entry' [getProductData]="getProductData2"
(BackTab)="back()"></app-req-edit>


<div class="container card p-3">
    <div class="prod_table" *ngIf='prod_table && !req_entry'>
        <div style="float: right; margin: 10px 0;">
            <button class="btn btn-primary mr-2" (click)="reqEntry()">Requirement Entry</button>
            <button class="btn btn-primary" (click)="showAddProduct()">Add Product</button>
        </div>
            <table class="table v-middle nowrap">
                <thead>
                    <tr>
                        <th class="border-top-0">Product NAME</th>
                        <th class="border-top-0">GST (%)</th>
                        <th class="border-top-0">Low Stock</th>
                        <th class="border-top-0">Unit</th>
                        <th class="border-top-0">Action</th>
                        <th class="border-top-0 text-center">Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of getProductData; let i = index">
                        <td>{{data.prod_name}}</td>
                        <td>{{data.gst}}</td>
                        <td>{{data.min_stock}}</td>
                        <td>{{data.unit}}</td>
                        <td>
                            <span style="cursor: pointer;"><i class="fa fa-edit" aria-hidden="true"
                                    (click)="product_edit_popup_open(content,i)"></i>
                            </span>
                            <span class="mx-2" style="cursor: pointer;"><i class="fa fa-trash" aria-hidden="true"
                                    (click)="delete_Product(i)"></i></span>
                        </td>
                        <td class="text-center"><span style="cursor: pointer;" (click)="openUpdateProductPage(i)"><i
                                    class="fa fa-cog"></i></span></td>
                    </tr>
                </tbody>
            </table>

    </div>



    <div class="add_prod" *ngIf='!prod_table && !req_entry'>
        <div class="modal_head">
            <div class="modal_body">
                <div class="addProductForm">
                    <form [formGroup]="addProductForm" class="my-3">
                        <label class="lab_tag" for="">Product Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control inp_tag" formControlName="prod_name">
                        <label class="lab_tag" for="">GST: <span class="text-danger">*</span></label>
                        <select name="" id="" formControlName="gst" class="form-control inp_tag">
                            <option value="gst" selected disabled>Select gst</option>
                            <option value="0">0 %</option>
                            <option value="5">5 %</option>
                            <option value="12">12 %</option>
                            <option value="18">18 %</option>
                            <option value="28">28 %</option>
                        </select>
                        <label class="lab_tag" for="">Low Stock: <span class="text-danger">*</span></label>
                        <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="min_stk">
                        <label class="lab_tag" for="">Unit: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control inp_tag" formControlName="unit">
                        <label class="lab_tag" for="">Mrp: <span class="text-danger">*</span></label>
                        <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="mrp">
                        <label class="lab_tag" for="">Hsn: <span class="text-danger">*</span></label>
                        <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="hsn">
                        <label class="lab_tag" for="">Upload Image:</label>
                        <div class="upimg_show">
                            <input id="img_up" type="file" accept="image/*" style="display: none;"
                            (change)="onUpload($event)" formControlName="img">
                            <label for="img_up" class="upload_label"><i class="fas fa-plus"></i>&nbsp;Choose</label>
                            <div *ngIf="uploadedFiles">
                                <img id="pre_img" src="" alt="" width="70px"> &nbsp;&nbsp;&nbsp;
                            <span style="margin-top: 15px;">{{uploadedFiles.name}} &nbsp;&nbsp;&nbsp;</span>
                            </div>   
                        </div>

                        <div class="btns my-3" style="float: right;">
                            <button class="btn btn-primary mr-2" type="submit" [disabled]="!addProductForm.valid"
                                (click)="add_Product()">Add</button>
                            <button class="btn btn-warning" type="reset" (click)="back()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


   


    <!-- <div class="cata_act" *ngIf='!showAddProd && prod_table'>
            <div class="table-responsive" *ngIf='!show'>
                <table class="table v-middle nowrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">Material</th>
                            <th class="border-top-0">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of itemList; let i = index">
                            <td>{{itemList[i].item_name}}</td>
                            <td>{{itemList[i].gst}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btns my-3" style="float: right;">
                    <button class="btn btn-warning" (click)="hide_add_item()">Back</button>
                    <button class="btn btn-primary" type="button">Add Material</button>
                </div>
            </div>
            <div class="item" *ngIf='show'>
                <form [formGroup]="addMatForm" class="my-3">
                    <label class="lab_tag" for="">Target Time:</label>
                    <input type="text" class="form-control inp_tag" formControlName="target" placeholder="Example: 2 or 3">
                    <label class="lab_tag" for="">GST:</label>
                    <input type="text" class="form-control inp_tag" formControlName="gst">
                    <label class="lab_tag" for="">Min Stock:</label>
                    <input type="text" class="form-control inp_tag" formControlName="min_stk">
                    <label class="lab_tag" for="">MRP:</label>
                    <input type="text" class="form-control inp_tag" formControlName="mrp">
                    <label class="lab_tag" for="">Unit:</label>
                    <input type="text" class="form-control inp_tag" formControlName="unit">
                    <div class="btns my-3" style="float: right;">
                        <button class="btn btn-primary" type="submit" (click)="add_item()">Add</button>
                        <button class="btn btn-warning" type="reset" (click)="hideAddCategory()">Cancel</button>
                    </div>
                </form>
            </div>
    </div> -->
</div>


<!-- edit product modal starts -->
<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
        <button class="close_btn">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="d('Cross click')"></i>
        </button>
    </div> -->
    <div class="modal-body">
        <div class="editProductForm">
            <form [formGroup]="editProductForm" class="my-3">
                <label class="lab_tag" for="">Product Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control inp_tag" formControlName="prod_name">
                <label class="lab_tag" for="">GST: <span class="text-danger">*</span></label>
                <select name="" id="" formControlName="gst" class="form-control inp_tag">
                    <option value="gst" selected disabled>Select gst</option>
                    <option value="0">0 %</option>
                    <option value="5">5 %</option>
                    <option value="12">12 %</option>
                    <option value="18">18 %</option>
                    <option value="28">28 %</option>
                </select>
                <label class="lab_tag" for="">Low Stock: <span class="text-danger">*</span></label>
                <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="min_stk">
                <label class="lab_tag" for="">Unit: <span class="text-danger">*</span></label>
                <input type="text" class="form-control inp_tag" formControlName="unit">
                <label class="lab_tag" for="">Mrp: <span class="text-danger">*</span></label>
                <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="mrp">
                <label class="lab_tag" for="">Hsn: <span class="text-danger">*</span></label>
                <input type="text" (keypress)="prevent($event)" class="form-control inp_tag" formControlName="hsn">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="edit_Product()">Submit</button>
        <button type="button" class="btn btn-warning" (click)="product_edit_popup_close(content)">Cancel</button>
    </div>
</ng-template>
<!-- edit product modal ends -->