.spinner-container{
    top: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8);
    left: 0;
}
.spinner-border{
    width: 7rem;
    height: 7rem;
}
.close_btn{
    cursor: pointer;
    float: right; 
    border: none; 
    background: transparent;
    margin-left: 450px;
    font-size: 18px;
}
.flexbox{
    display: flex;
    justify-content:flex-end;
  }
  .flexboxpagination{
    display: flex;
    justify-content:space-between;  
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  .add_btn{
    display: flex;
    flex-direction: row;
    button{
      white-space: nowrap;
    }
  }
  .lab_tag{
    margin-top: 1%;
}

  .upimg_show{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 100%;
    padding: 1%;
}
.upload_label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: royalblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    width: 95px;
    height: 38px;
    font-size: 14px;
    margin-right: 10%;
  }
 