.spinner-container{
    top: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8);
    left: 0;
}
.spinner-border{
    width: 7rem;
    height: 7rem;
}
.close_btn{
    cursor: pointer;
    float: right; 
    border: none; 
    background: transparent;
    margin-left: 450px;
    font-size: 18px;
}
.flexbox{
    display: flex;
    justify-content:flex-end;
  }
  .flexboxpagination{
    display: flex;
    justify-content:space-between;  
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  .add_btn{
    display: flex;
    flex-direction: row;
    button{
      white-space: nowrap;
    }
  }
  .lab_tag{
    margin-top: 1%;
}

  .upimg_show{
    display: flex;
    align-items: center;
    // border: 1px solid lightgray;
    // border-radius: 3px;
    width: 100%;
    padding: 1%;
    height: calc(1.5em + 0.75rem + 2px);
}
// .upload_label {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: #4680ff;
//     color: white;
//     border-radius: 20px;
//     cursor: pointer;
//     border: 2px solid transparent;
//     width: 95px;
//     height: calc(1.5em + 0.75rem + 2px);
//     font-size: 14px;
//   }
.mt-20p{
  margin-top: 20%;
}
  .camera{
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
  }
  .inp_tag{
    margin-top: 20px;
  }
 
  //modal start
.mymodal1 {
  display: flex;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.mymodal_cnt {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: auto;
}
.modal_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 4%;
  .btn-info {
      background-color: #25CCCE;
  }
  // .btn-secondary {
  //     background-color: #BFBFBF;
  // }
  button {
      border-radius: 5px;
      padding: 7px 17px;
  }
}