<form [formGroup]="reportForm" (submit)="submitReport()">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="dateRange">Select Range: </label>
          <input name="dateRange" formControlName="dateRange" [owlDateTime]="dateRange"
            placeholder="DD-MM-YYYY - DD-MM-YYYY" [owlDateTimeTrigger]="dateRange" class="form-control"
            [selectMode]="'range'" [rangeSeparator]="' - '" [max]="today" [min]="minimumDate" readonly="true" />
  
          <owl-date-time [firstDayOfWeek]="'1'" [pickerType]="'calendar'" #dateRange></owl-date-time>
          <small class="form-text date-valid-message"
            [ngStyle]="{'opacity': reportForm.get('dateRange').hasError('incorrect') ? '1' : '0'}">Maximum range value is
            10.</small>
        </div>
      </div>
      <div class="col-md-3 mb-sm-12">
        <div class="form-group">
          <label for="status">Status: </label>
          <select class="form-control" id="status" formControlName="status">
            <option value="All">ALL</option>
            <option value="INITIATED">INITIATED</option>
            <option value="PENDING">PENDING</option>
            <option value="SUCCESS">SUCCESS</option>
            <option value="FAILED">FAILED</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mb-sm-12">
        <div class="form-group">
          <label for="dmtSubCat">Operation Performed: </label>
          <select class="form-control" id="dmtSubCat" formControlName="subCat" (change)="operation_perform($event.target.value)">
            <option value="All">ALL</option>
            <option value="AEPS_CASH_WITHDRAWAL">CASH WITHDRAWL</option>
            <option value="AEPS_BALANCE_ENQUIRY">BALANCE ENQUIRY</option>
            <option value="AEPS_MINI_STATEMENT">MINI STATEMENT</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 submitBtnCol">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
        </div>
      </div>
    </div>
  </form>
  <ngx-spinner name="userListSpinner"><p style="color: white; margin-top: 50px;" > Fetching Usernames... </p></ngx-spinner>
  