<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
</head>
<div class="row col-sm-12">
  <div class="col-sm-8">
    <app-card class="formwrapper h-auto">
      <form [formGroup]="aepsformAP" #apForm="ngForm">
        <div class="row">
          <div class="col-sm-12 row">
            <div class="col-sm-6">
              <div class="form-group aeps-formAP">
                <label for="">Mobile Number</label>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Mobile Number</mat-label>
                  <input validMobile matInput placeholder="Enter Mobile Number" style="width: 100%;"
                    formControlName="mobileNumber" id="mobileNumber" required>
                  <mat-error *ngIf="aepsformAP.get('mobileNumber').hasError('required')">
                    <span class="err-message">Mobile Number is required!</span>
                  </mat-error>
                  <mat-error *ngIf="aepsformAP.get('mobileNumber').hasError('pattern')">
                    <span class="err-message">Please Enter a valid Mobile Number</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group aeps-formAP">
                <label *ngIf="!vid_ap">Transact with Aadhar ID</label>
                <label *ngIf="vid_ap">Transact with VID</label>
                <mat-slide-toggle (change)="change_mode($event)"></mat-slide-toggle>
              </div>
            </div>
          </div>

          <div class="col-md-12" *ngIf='!vid_ap'>
            <div class="form-group aeps-formAP">
              <label>Enter Aadhaar Number</label>
              <div class="flex-inline">
                <div class="input-flex"><input type="text" id="cwadh1" (input)="inputValidator($event)"
                    formControlName="cwadh1" class="form-control" placeholder="XXXX" required></div>
                <div class="input-flex"> <input type="text" id="cwadh2" formControlName="cwadh2"
                    formControlName="cwadh2" (input)="inputValidator1($event)" class="form-control" placeholder="XXXX"
                    required></div>
                <div class="input-flex"> <input type="text" id="cwadh3" formControlName="cwadh3"
                    formControlName="cwadh3" (input)="inputValidator2($event)" class="form-control" placeholder="XXXX"
                    required></div>
              </div> <br>
              <span *ngIf="!checkvalidForAadhar" style="color:red"> Wrong Aadhaar </span>
            </div>
          </div>

          <div class="col-md-6" *ngIf='vid_ap'>
            <div class="form-group aeps-form">
              <label>Enter VID Number</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Enter VID Number*</mat-label>
                <input type="text" matInput (keypress)="onlyNumber($event)" formControlName="vid_no"
                  placeholder="Enter VID" minlength="16" maxlength="16" pattern="[1-9]{1}[0-9]{15}">
                <mat-error *ngIf="aepsformAP.get('vid_no').hasError('pattern') && aepsformAP.get('vid_no').touched"
                  class="err-message">
                  <span class="text-danger">Please Enter a valid VID Number</span>
                </mat-error>
                <mat-error *ngIf="aepsformAP.get('vid_no').hasError('required') && aepsformAP.get('vid_no').touched"
                  class="err-message">
                  <span class="text-danger">VID can't be blank</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group aeps-formAP">
              <label>Choose Bank</label>
              <div class="flex-inline radioGroup">
                <mat-radio-group (change)="radiovalueAP(radioGroup5.value)" #radioGroup5="matRadioGroup"
                  formControlName="bankinfo" class="radiobtnstyle">
                  <mat-radio-button value="other5">Other</mat-radio-button>
                  <mat-radio-button value="607094"><i class="sbi sprite"></i>
                  </mat-radio-button>
                  <mat-radio-button value="606985"><i class="baroda sprite"></i>
                  </mat-radio-button>
                  <mat-radio-button value="607396"><i class="canara sprite"></i>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <mat-form-field class="example-full-width" *ngIf="radioGroup5.value === 'other5'">
              <mat-label>Type Bank Name</mat-label>
              <input matInput autocomplete="off" formControlName="bankname" [matAutocomplete]="autoBankName" required
              (input)="searhBankNameAP($event.target.value)">
              <mat-autocomplete #autoBankName="matAutocomplete" [displayWith]="displayFn">
                <mat-option #matOption4 *ngFor="let bank of bankListAP" [value]="bank">
                  {{bank.BANKNAME}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <div class="form-group aeps-form">
              <label>Select Amount You Want</label>
              <div class="flex-inline radioGroup">
                <mat-radio-group (change)="radiovalueAmountAPfun(radioGroup6.value)" #radioGroup6="matRadioGroup"
                  formControlName="amountdetails" class="radiobtnstyle">
                  <mat-radio-button value="other6">Other</mat-radio-button>
                  <mat-radio-button value="500">500</mat-radio-button>
                  <mat-radio-button value="1000">1000</mat-radio-button>
                  <mat-radio-button value="2000">2000</mat-radio-button>
                  <mat-radio-button value="5000">5000</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <mat-form-field class="example-full-width" *ngIf="radioGroup6.value === 'other6'">
              <mat-label>Type Amount</mat-label>
              <input matInput value="" autocomplete="off" formControlName="amountdetails" required
                (ngModelChange)="amountValidate_ap($event)">
            </mat-form-field>
            <div *ngIf="validAmountAp">
              <h6 style="font-size: 14px; color: red;">Please enter value in multiples of Rs 100</h6>
            </div>
          </div>

          <div class="col-12 p-0 row m-0">
            <div class="col-6 p-0 pr-1 text-right"><button type="button"
                class="btn btn-success mr-2 w-100 rounded col-md-6"
                [disabled]="aepsformAP.invalid || !QScoreData || !checkvalidForAadhar || validAmountAp"
                (click)="submit_aadharpay(0)">Submit</button></div>
            <div class="col-6 p-0 pl-1"><button type="button" (click)="apReset(apForm)"
                class="btn btn-dark rounded w-100 col-md-6">Reset</button></div>
          </div>

        </div>
      </form>
    </app-card>
  </div>
  <div class="col-sm-4">
    <app-card class="formwrapper h-auto">
      <mat-form-field>
        <mat-select [(ngModel)]="modeselect" (ngModelChange)="mychange($event)" class="deviceGroup">
          <mat-option value="option1"><img width="30" height="30" src="../../../../assets/images/mantra.svg"> Mantra
            Devices</mat-option>
          <mat-option value="option2"> <img width="30" height="30" src="../../../../assets/images/morfo.svg">
            Morpho Devices
          </mat-option>
          <mat-option value="option3"> <img width="30" height="30" src="../../../../assets/images/startek.svg">
            Startk Devices
          </mat-option>
          <mat-option value="option4"> <img width="30" height="30" src="../../../../assets/images/precision.svg">
            Precision Devices
          </mat-option>
          <mat-option value="option5"> <img width="30" height="30" src="../../../../assets/images/precision.svg">
            Tatvik Device
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="thumb">
        <mat-icon [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
          fingerprint</mat-icon>
        <button type="button" class="col-sm-4 btn btn-primary" (click)="captureAadharpay();">Capture</button>
      </div>
      <div class="col-sm-12 progresbars mt-4 p-0">
        <mat-progress-bar [value]="QScore"></mat-progress-bar>
        <h6 *ngIf="QScore"
          [ngStyle]="{'color': QScore==0 ? 'black' : QScore<40 ? 'red': QScore<60 ? '#FFCA28' :'green' }">
          {{QScore}}% Captured</h6>
      </div>
      <div class="inputline">
        <h6 class="textclass">Recommended Fingerprint Strength is 40%</h6>
      </div>
    </app-card>
  </div>
</div>

<app-ui-modal #confirmMessageAP dialogClass="modal-dialog-centered" [hideHeader]="true">
  <div class="app-modal-body p-0" *ngIf="Aadharpayfetch">
    <div class="conf-message mb-4 text-center">
      <img src="../../../../assets/images/icon.svg" width="82"
        *ngIf="aadhaarpay_socketdis.status === 'SUCCESS'" />
      <img src="../../../../assets/images/failed_aeps.svg" *ngIf="aadhaarpay_socketdis.status === 'FAILED'"
        width="82" />
      <img src="../../../../assets/images/failed_aeps.svg" width="82"
        *ngIf="aadhaarpay_socketdis.status === 'PENDING'" />
      <h3>Rs. {{aadharPay.amount}}.00</h3>
      <div *ngIf="aadhaarpay_socketdis.status === 'SUCCESS'" style="color:#2FD84A;font-size: 21px;">AadhaarPay
        Status Success</div>
      <div *ngIf="aadhaarpay_socketdis.status === 'FAILED'" style="color:red;font-size: 21px;">
        AadhaarPay Status Failed</div>
      <div *ngIf="aadhaarpay_socketdis.status === 'PENDING'" style="color:rgb(212, 212, 12);font-size: 21px;">
        AadhaarPay Status Pending</div>
    </div>
    <div class="greenbg text-center">AadhaarPay Receipt</div>
    <div class="report-card">
      <ul class="list-unstyled m-0">
        <li>
          <div class="list">Transaction Mode :</div>
          <div class="list">AadhaarPay</div>
        </li>
        <li>
          <div class="list">Transaction ID :</div>
          <div class="list">{{aadhaarpay_socketdis.txId}}</div>
        </li>
        <li>
          <div class="list">Bank Name :</div>
          <div class="list">{{aadhaarpay_socketdis.bankName}}</div>
        </li>
        <li>
          <div class="list" *ngIf="!vid_ap">Aadhaar Number :</div> 
          <div class="list" *ngIf="vid_ap">VID :</div> 
          <div class="list">{{aadhaarpay_socketdis.origin_identifier}}</div>
        </li>
        <li>
          <div class="list">Api Tid :</div>
          <div class="list">{{aadhaarpay_socketdis.apiTid}}</div>
        </li>

        <li>
          <div class="list">Amount :</div>
          <div class="list">{{aadharPay.amount}}</div>
        </li>
        <li>
          <div class="list">Mobile :</div>
          <div class="list">{{aadharPay.mobileNumber}}</div>
        </li>

        <li>
          <div class="list">Created Date :</div>
          <div class="list">{{aadhaarpay_socketdis.createdDate}}</div>
        </li>
        <li>
          <div class="list">Updated Date :</div>
          <div class="list">{{aadhaarpay_socketdis.updatedDate}}</div>
        </li>
        <li>
          <div class="list">Status :</div>
          <div class="list">{{aadhaarpay_socketdis.status}}</div>
        </li>
        <li>
          <div class="list">Message :</div>
          <div class="list">{{aadhaarpay_socketdis.apiComment}}</div>
        </li>
        <li>
          <div class="list">Available Balance :</div>
          <!-- <div class="list"
            *ngIf="aadhaarpay_socketdis.status === 'PENDING' || aadhaarpay_socketdis.status === 'FAILED'">
            {{balanceEnquiryres.balance}}</div> -->
          <div class="list" *ngIf="aadhaarpay_socketdis.status === 'SUCCESS'">Rs.
            {{aadhaarpay_socketdis.balance}}</div>
          <div class="list">{{aadhaarpay_socketdis.balance}}</div>
        </li>

      </ul>
    </div>
    <div class="col-12 p-0 row m-0">
      <div class="col-6 p-0 pr-1 text-right" style="margin-top: 10px;"><button type="button"
          class="btn btn-danger mr-2 w-100 rounded col-md-6" (click)="confirmMessageAP.hide()">Cancel</button>
      </div>
      <div class="col-6 p-0 pl-1" style="margin-top: 10px;"><button type="button"
          (click)="confirmMessageAP.hide();generatePDFAP()"
          class="btn btn-success rounded w-100 col-md-6">Download</button></div>
    </div> <br>
    <div class="col-sm-12 greybg text-center">
      <h6 style="position: relative; top:4px">For Details transaction report go to report section
      </h6>
    </div>
    <div style="display:inline-block; width:50%; padding-left:23px"
      *ngIf="aadhaarpay_socketdis.status === 'SUCCESS'">
      <h6>Send Receipt via SMS 0.25p / SMS</h6>
    </div>
    <div style="display:inline-block; width:50%; padding:9px 9px 9px 9px"
      *ngIf="aadhaarpay_socketdis.status === 'SUCCESS'">
      <mat-slide-toggle (change)="onChangematSlide($event)"></mat-slide-toggle>
    </div>
    <div class="col-md-8" style="padding-left: 7px;"
      *ngIf="matchecked && aadhaarpay_socketdis.status === 'SUCCESS'">
      <div class="input-group col-xs-8 smsgroup">
        <input type="text" class="form-control" value="{{aadharPay.mobileNumber}}"
          placeholder="Enter Mobile Number" [(ngModel)]="smsaadharpayMobile" (keypress)="keyPress($event)"
          minlength=10 maxlength=10>
        <div class="input-group-btn">
          <button type="button" [disabled]="smsaadharpayMobile.length<10" class="btn btn-primary"
            (click)="SmsSendMobileAP()">Send</button>
        </div>
      </div>
    </div> <br>
  </div> <br>
</app-ui-modal>
<app-ui-modal #confirmMessageAP_socket dialogClass="modal-dialog-centered" [hideHeader]="true">
  <div class="app-modal-body p-0">
    <div class="greenbg text-center">AadhaarPay Receipt</div>
    <div class="report-card">
      <h5 style="padding: 9px;">Your Transcation id is keep it for future referance</h5> <br>
      <h5 style="padding: 9px;">Click Get Status to get your recent transaction status or go to
        report section for more details</h5>
    </div>
    <div class="col-12 p-0 row m-0">
      <div class="col-6 p-0 pr-1 text-right" style="margin-top: 10px;"><button type="button"
          class="btn btn-danger mr-2 w-100 rounded col-md-6"
          (click)="confirmModalAP_socket.hide()">Cancel</button></div>
      <div class="col-6 p-0 pl-1" style="margin-top: 10px;"><button type="button"
          (click)="confirmModalAP_socket.hide();aadharpayaftersocket()"
          class="btn btn-success rounded w-100 col-md-6">Get Status</button></div>
    </div>
    <br>
  </div>
</app-ui-modal>
<ngx-spinner name="elasticSpinner">
  <p style="color: white; margin-top: 50px;"> Fetching Status... </p>
</ngx-spinner>
