<ul class="navbar-nav ml-auto">
  <!-- <li style="cursor: pointer;" (click)="fetchWallet()">Wallet Balance: {{walletBalance | currency: 'INR'}}</li> -->
  <!-- <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown" (click)="showNotifs = !showNotifs; selectiveNotifications('', 1)"><i class="icon feather icon-bell"></i></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          <div class="float-right">
            <span class="badge m-r-5 badge-light-primary cursor-pointer" (click)="selectiveNotifications('Transactional', 1)">Transactional</span>
            <span class="badge m-r-5 badge-light-light cursor-pointer" (click)="selectiveNotifications('UserWise', 1)">Userwise</span>
          </div>
        </div>
        <ul class="noti-body of-not-x of-y">

          <div *ngIf="fetchingNotifs" class="d-flex justify-content-center flex-column align-items-center" style="height: 100%;">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <ng-container *ngIf="!fetchingNotifs && notiResponse?.data.result.length">
            <li class="notification" *ngFor="let notiData of notiResponse?.data.result">
              <div class="media">
                <div class="stat-icon-wrapper" [ngClass]="{'text-success': ['SUCCESS', 'REFUNDED'].includes(notiData.message.status), 'text-danger': notiData.message.status === 'FAILED', 'text-warning': ['INPROGRESS', 'INITIATED'].includes(notiData.message.status)}">
                  <i *ngIf="notiData.message.status === 'FAILED'" class="icon feather icon-x-circle"></i>
                  <i *ngIf="['SUCCESS', 'REFUNDED'].includes(notiData.message.status)" class="icon feather icon-check-circle"></i>
                  <i *ngIf="['INPROGRESS', 'INITIATED'].includes(notiData.message.status)" class="icon feather icon-alert-circle"></i>
                </div>
                <div class="media-body">
                  <p><strong>Amount: &nbsp; {{(notiData.message.amount ? notiData.message.amount : 0) | currency: 'INR'}}</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>{{notiData.message.last_notify_time}}</span></p>
                  <p><strong>Transaction ID: </strong> &nbsp; {{notiData.message.transactionId}}</p>
                  <p><strong>Status:  </strong>&nbsp; <span class="badge m-r-5 badge-pill" [ngClass]="{'badge-success': ['SUCCESS', 'REFUNDED'].includes(notiData.message.status), 'badge-danger': notiData.message.status === 'FAILED', 'badge-warning': ['INPROGRESS', 'INITIATED'].includes(notiData.message.status)}">{{notiData.message.status}}</span></p>
                  <p><strong>Product:  </strong>&nbsp; {{notiData.message.product_name}}</p>
                  <p><strong>Operation Performed: </strong> &nbsp; {{notiData.message.Operation_Performed}}</p>
                </div>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="!fetchingNotifs && !notiResponse?.data.result.length">
            <div class="d-flex flex-column justify-content-center align-items-center no-notification">
              <img src="assets/images/dmt/notification.svg" alt="no_notification">
              <strong>No Notifications</strong>
            </div>
          </ng-container>

        </ul>
        <div *ngIf="notiResponse?.data.previous || notiResponse?.data.next" class="noti-footer">
          <div class="row justify-content-end">
            <div class="col-6 text-left"><span *ngIf="notiResponse?.data.previous" class="badge m-r-5 badge-pill badge-primary cursor-pointer" (click)="selectiveNotifications(null, notiResponse.data.previous.page)">Prev</span></div>
            <div class="col-6 text-right"><span *ngIf="notiResponse?.data.next" class="badge m-r-5 badge-pill badge-primary cursor-pointer" (click)="selectiveNotifications(null, notiResponse.data.next.page)">Next</span></div>
          </div>
        </div>
      </div>
    </div>
  </li> -->
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img src="assets/images/user/avtar-2.png" class="img-radius" alt="User-Profile-Image">
          <span>{{userName}}</span>
          <a href="javascript:" class="dud-logout" title="Logout" (click)="logOutApp()">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li> -->
          <li (click)="logOutApp()"><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Log Out</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
