.stat-icon-wrapper {
    padding: 5px 15px 5px 0;
    font-size: 30px;
}

.of-not-x {
    overflow-x: hidden !important;
}

.of-y {
    overflow-y: auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.no-notification {
    height: 100%;
    img { width: 40% !important; }
}