<div class="card" style="padding: 2%;">
    <div style="padding: 2px;" id="print">
        <table border="1px" style="width: 100%;" cellspacin="0" cellpadding="2">
            <tr>
                <td class="t_text" colspan="4"><span>Tax Invoice</span></td>
            </tr>
            <tr>
                <td class="t_text2" colspan="2" style="width: 50%;">
                    <div style="font-size: 20px;"><b>MAHAVER</b></div>
                    <div>Address: DAMANA BHUBANESAR KHORDA ODISHA</div>
                    <div>Email: mahaveer@gmail.com, Phone: 3456789056</div>
                </td>
                <td class="t_text2" colspan="2">
                    <div>Details of Receiver (Bill to)</div>
                    <div>{{invoiceData.customerData.name}}<span style="margin-left: 15%;">CUSTOMER DETAILS</span></div>
                    <div>{{invoiceData.customerData.address}}</div>
                    <div>Phone: {{invoiceData.customerData.mobile}}</div>
                </td>
            </tr>
            <tr>
                <td class="t_text2">GSTIN: <span class="t_text3">{{invoiceData.customerData.gstn}}</span></td>
                <td class="t_text2">Adhar/PAN: <span class="t_text3">SDFGHJTUJJI</span></td>
                <td class="t_text2">GSTIN: <span class="t_text3">{{invoiceData.customerData.gstn}}</span></td>
                <td class="t_text2">Id Type: </td>
            </tr>
            <tr>
                <td class="t_text2">Invoice No: {{invoiceData.invoice_no}}</td>
                <td class="t_text2">Date: {{invoiceData.sell_date | date}}</td>
                <td class="t_text2">Payment Mode: {{invoiceData.method}}</td>
                <td class="t_text2">Id NUmber: {{invoiceData.customerData.id}}</td>
            </tr>
        </table>
        <table border="1px" style="width: 100%;" cellspacin="0">
            <tr>
                <th class="t_text" rowspan="2">SlnNo</th>
                <th class="t_text" rowspan="2">Item</th>
                <th class="t_text" rowspan="2">Hsn Code</th>
                <th class="t_text" rowspan="2">Rate per Item</th>
                <th class="t_text" rowspan="2">Qty</th>
                <th class="t_text" rowspan="2">Unit</th>
                <th class="t_text" colspan="2">Discount</th>
                <th class="t_text" rowspan="2">Total</th>
                <th class="t_text" colspan="2">CGST</th>
                <th class="t_text" colspan="2">SGST</th>
                <th class="t_text" colspan="2">IGST</th>
                <th class="t_text" rowspan="2">Total Value</th>
            </tr>
            <tr>
                <th class="t_text">Rate(%/v)</th>
                <th class="t_text">Amount</th>
                <th class="t_text">Rate</th>
                <th class="t_text">Amount</th>
                <th class="t_text">Rate</th>
                <th class="t_text">Amount</th>
                <th class="t_text">Rate</th>
                <th class="t_text">Amount</th>
            </tr>
            <tr *ngFor = "let data of invoiceData.sellData; let i=index">
                <td class="t_text">{{i}}</td>
                <td class="t_text">{{data.prod_name}}</td>
                <td class="t_text">{{data.hsn}}</td>
                <td class="t_text">{{data.cgst}}</td>
                <td class="t_text">{{data.quantity}}</td>
                <td class="t_text">{{data.cgst}}</td>
                <td class="t_text">{{data.discount}}</td>
                <td class="t_text">{{data.discount}}</td>
                <td class="t_text">{{data.total}}</td>
                <td class="t_text">{{data.cgst}}</td>
                <td class="t_text">{{data.cgst}}</td>
                <td class="t_text">{{data.sgst}}</td>
                <td class="t_text">{{data.sgst}}</td>
                <td class="t_text">{{data.igst}}</td>
                <td class="t_text">{{data.igst}}</td>
                <td class="t_text">{{invoiceData.total_amount}}</td>
            </tr>
            <tr>
                <td colspan="16" style="visibility: hidden;">efghjkl</td>
            </tr>
            <tr>
                <td class="t_text" colspan="7">Total</td>
                <td class="t_text">{{invoiceData.total_amount}}</td>
                <td class="t_text"></td>
                <td class="t_text"></td>
                <td class="t_text">{{invoiceData.totalcgst}}</td>
                <td class="t_text"></td>
                <td class="t_text">{{invoiceData.totalsgst}}</td>
                <td class="t_text"></td>
                <td class="t_text">{{invoiceData.totaligst}}</td>
                <td class="t_text">{{invoiceData.totalsum}}</td>
            </tr>
        </table>
        <table border="1px" style="width: 100%;" cellspacin="0">
            <tr>
                <td class="t_text2" style="width: 50%;">
                    <div>Amount chargable in (words)</div>
                    <div style="text-transform: uppercase;">one hundered rupee only</div>
                </td>
                <td class="t_text">Account No: 234567890 | Holder Name: wertgyhjkl | Bank Name: wertyui | IFSC Code:
                    sdfghjk34567t</td>
            </tr>
            <tr>
                <td class="t_text2" style="vertical-align: top;">
                    <div>declaration <span style="float: right;">E & O.E</span></div>
                    <div>We declare that this invoice shows the actual price of the goods/services described and
                        all that particulars are true and correct.</div>
                </td>
                <td class="t_text">
                    <div>For Inbowlabs Pvt. Ltd.</div>
                    <div style="margin-top: 10%;">Authorised Signatory</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="mt-3 text-right">
        <button class="btn btn-warning mr-2" type="button" (click)="reverse()">Cancel</button>
        <button class="btn btn-success" (click)="print()">Print</button>
    </div>
    </div>