<div class="invoice" #screen>

    <table border="1px" style="width: 100%;" cellspacin="0" cellpadding="2">
        <tr>
            <td class="t_text"  colspan="4">dfghjk <span style="float: right;">x</span></td>
        </tr>
        <tr>
            <td class="t_text"  colspan="2">dfghjk</td>
            <td class="t_text"  colspan="2">dfghjk</td>
        </tr>
        <tr>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
        </tr>
        <tr>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
            <td class="t_text" >dfghjk</td>
        </tr>
    </table>
    
    <table border="1px" style="width: 100%;" cellspacin="0">
        <tr>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  colspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  colspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  colspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  colspan="2" style="width: 13%;">fghjkl</th>
            <th class="t_text"  rowspan="2" style="width: 13%;">fghjkl</th>
        </tr>
        <tr>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
            <th class="t_text" >fghjklgf</th>
    
        </tr>
        <tr>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
            <td class="t_text" >ertyuio</td>
        </tr>
        <tr>
            <td class="t_text"  colspan="7">ertyu</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
            <td class="t_text" >dfghj</td>
        </tr>
    </table>
    
    <table border="1px" style="width: 100%;" cellspacin="0">
        <tr>
            <td class="t_text" >ertyui</td>
            <td class="t_text" >ertyui</td>
        </tr>
        <tr>
            <td class="t_text" >ertyui</td>
            <td class="t_text" >ertyui</td>
        </tr>
    </table>
    
    
</div>
<div><button (click)="print()" style="float: right;">Print</button></div>
<div id="download" style="display: none;">
    <img #canvas />
    <a #downloadLink></a>
  </div>