.submitBtnCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .form-group {
    margin-bottom: 2.5rem;
  }
}

.date-valid-message {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.selectCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-control[readonly] {
  background-color: #fff;
}
