<form [formGroup]="reportForm" (submit)="submitReport()">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="dateRange">Select Range: </label>
        <input name="dateRange" formControlName="dateRange" [owlDateTime]="dateRange"
          placeholder="DD-MM-YYYY - DD-MM-YYYY" [owlDateTimeTrigger]="dateRange" class="form-control"
          [selectMode]="'range'" [rangeSeparator]="' - '" [max]="today" [min]="minimumDate" readonly="true" />

        <owl-date-time [firstDayOfWeek]="'1'" [pickerType]="'calendar'" #dateRange></owl-date-time>
        <small class="form-text date-valid-message"
          [ngStyle]="{'opacity': reportForm.get('dateRange').hasError('incorrect') ? '1' : '0'}">Maximum range value is
          10.</small>
      </div>
    </div>
    <div class="col-md-2 mb-sm-4">
      <label>Select Sub-category: </label>
      <div class="subCatContainer">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" formControlName="subCat" class="custom-control-input"
            value="bbps">
          <label class="custom-control-label" for="customRadioInline1">BBPS</label>
        </div>
      </div>
    </div>
    <div class="col-md-5 selectCol mb-sm-4">
      <div class="form-group">
        <label>Operation Performed: </label>
        <select class="form-control" formControlName="operationPerformed">
          <option disabled value="">Select</option>
          <option value="all">All</option>
          <option value="BBPS_Electricity">Electricity</option>
          <option value="BBPS_Broadband Postpaid">Broadband Postpaid</option>
          <option value="BBPS_DTH">DTH</option>
          <option value="BBPS_Gas">Gas</option>
          <option value="BBPS_Landline Postpaid">Landline Postpaid</option>
          <option value="BBPS_Mobile Postpaid">Mobile Postpaid</option>
          <option value="BBPS_Water">Water</option>
          <option value="BBPS_Loan Repayment">Loan Repayment</option>
          <option value="BBPS_Life Insurance">Life Insurance</option>
          <option value="BBPS_Fastag">Fastag</option>
          <option value="BBPS_LPG Gas">LPG Gas</option>
          <option value="BBPS_Cable TV">Cable TV</option>
          <option value="BBPS_Health Insurance">Health Insurance</option>
          <option value="BBPS_Education Fees">Education Fees</option>
        </select>
      </div>
      <div class="form-group">
        <label>Status: </label>
        <select class="form-control" formControlName="status">
          <option disabled value="">Select</option>
          <option value="All">All</option>
          <option value="INITIATED">INITIATED</option>
          <option value="PENDING">PENDING</option>
          <option value="SUCCESS">SUCCESS</option>
          <option value="FAILED">FAILED</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 submitBtnCol">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="reportForm.invalid">Submit</button>
      </div>
    </div>
  </div>
</form>
