.searchInput {
  .input-group-text {
    background-color: #fff;
    border-radius: 10px 0 0 10px;
  }
  .form-control {
    border-radius: 0 10px 10px 0;
  }
}

.table-exc-print {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-top: 15px;
  .btn {
    border-radius: 13px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    margin-right: 5px;
  }
}

.report-heading {
  padding-top: 15px;
  h3 {
    font-weight: bold;
  }
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .action-settings {
//   list-style: none;
//   display: flex;
//   padding: 0;
//   position: absolute;
//   z-index: 9;
//   li {
//     border: 1px solid;
//   }
// }

.btnModalClose {
  font-size: 50px;
  opacity: 1 !important;
  color: #4B5B5B;
  font-weight: normal !important;
  text-shadow: none !important;
  line-height: 35px !important;
  padding-top: 3px;
}

.retry-header {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bold;
}

div.app-modal-body {
  background: url('/assets/images/dmt/popupbackground.png') no-repeat left top / cover;
  padding: 20px 25px;
}
.modal-content {
  border-radius: 15px !important;
}
.trans-message-dmt {
    border: 1px solid #68a9a9;
    .trans-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid #68a9a9;
      padding: 9px;
      .trans-left {
        font-weight: bold;
      }
    }
    .trans-row:last-child {
      border-bottom: none;
    }
  }
  
  .to-from {
    .heading {
      color: #97AAAA;
      font-weight: normal;
      color: #303636;
      font-size: 15px;

      &.hdngborder {
        border-bottom: 1px dashed #97AAAA;
      }
    }
    .to-name, .from-name {
      font-weight: bold;
      font-size: 20px;
      color: #303636;
    }
  }
  
  .bank-image {
    // span .fa-university {
    //   font-size: 120px;
    // }
    span {
      .fa-check-circle, .fa-times-circle, .fa-exclamation-circle {
        font-size: 50px;
        border-radius: 50%;
        position: absolute;
        background-color: #ffffff;
        right: -6px;
        bottom: 5px;
      }
      .fa-check-circle {
        color: #0E989A;
      }
      .fa-times-circle {
        color: #ff5252;
      }
      .fa-exclamation-circle {
        color: #ffa21d;
      }
    }
    .DMTStatusImg .approvalIcon {
      bottom: 0;
      right: -25px;
    }
    .amount-section-popup {
      font-size: 30px;
      font-weight: bold;
      color: #303636;
    }
    .transSuccess {
      color: #0E989A;
    }
    .trans-subheading-popup { font-size: 1.5em; }
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

:host ::ng-deep {

    .ngx-datatable.material .datatable-header .datatable-header-cell {
      text-transform: capitalize;
      background-color: #4680ff;
      color: #fff;
    }

    .ngx-datatable {
      border-radius: 15px;
    }

    .card {
      border-radius: 10px;
    }

    .modal-content {
      border-radius: 15px !important;
      overflow: hidden;
    }
    .modal-body {
      padding: 0px !important;
    }
}