<div class="fundtransfer-new">

    <div class="row" *ngIf="!loader.general">

        <!-- SENDER SECTION STARTS -->
        <div class="col-sm-12 col-md-4">

            <app-card [hidHeader]="true">
    
                <h6>Sender</h6>
                
                <form [formGroup]="customerform">
            
                    <div class="row">
            
                        <div class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field appearance="outline" class="full-width">
                                  <mat-label>Mobile Number</mat-label>
                                  <input validMobile matInput placeholder="Enter Mobile Number" formControlName="mobileNumber" id="mobileNumber" required>
                                  <mat-icon matSuffix>phone</mat-icon>
                                  <mat-hint *ngIf="!customer.flags.verified">We will send you an ONE TIME PASSWORD on this number.</mat-hint>
                                  <!-- <mat-hint>We will send you an ONE TIME PASSWORD on this number.</mat-hint> -->
                                  <mat-error *ngIf="customerform.get('mobileNumber').hasError('required')">
                                    <span class="err-message">Mobile number is required!</span>
                                  </mat-error>
                                  <mat-error
                                    *ngIf="(customerform.get('mobileNumber').hasError('maxlength') || customerform.get('mobileNumber').hasError('minlength')) && !customerform.get('mobileNumber').hasError('pattern')">
                                    <span class="err-message">Mobile number should be 10 digits only!</span>
                                  </mat-error>
                                  <mat-error *ngIf="customerform.get('mobileNumber').hasError('pattern')">
                                    <span class="err-message">Please enter valid Mobile Number!</span>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                        </div>
            
                        <!-- If Customer API Called -->
                        <ng-container *ngIf="customer.flags.checked">
            
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" class="full-width">
                                      <mat-label>Customer Name</mat-label>
                                      <input validBeneName matInput placeholder="Enter Full Name" formControlName="name" id="name" required>
                                      <mat-icon matSuffix>person</mat-icon>
                                      <!-- <mat-hint>Hint</mat-hint> -->
                                      <mat-error *ngIf="customerform.get('name').hasError('required')">
                                        <span class="err-message">Customer name is required!</span>
                                      </mat-error>
                                      <mat-error *ngIf="customerform.get('name').hasError('pattern')">
                                        <span class="err-message">Customer name should contains only alphabets!</span>
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                            </div>
                            
                            <!-- If Customer Not Added -->
                            <ng-container *ngIf="!customer.flags.added">
            
                                <div class="col-sm-12 mb-2">
                                    <button type="button" class="btn btn-success btn-block border-rad-5" (click)="regCustomer()" [disabled]="customerform.invalid">Register</button>
                                </div>
            
                            </ng-container>
            
                            <!-- If Customer Added -->
                            <ng-container *ngIf="customer.flags.added">
            
                                <!-- If Customer Not Verified -->
                                <ng-container *ngIf="!customer.flags.verified">
            
                                    <ng-container *ngIf="customer.resend.allow">
            
                                        <div class="col-sm-12">
                                            <form [formGroup]="otpForm">
                                                <div class="form-group otp-elements">
                                                    <input validOTPField #digit1 type="text" formControlName="digit1" class="form-control" (input)="otpClick($event, '', digit2)">
                                                    <input validOTPField #digit2 type="text" formControlName="digit2" class="form-control" (input)="otpClick($event, digit1, digit3)">
                                                    <input validOTPField #digit3 type="text" formControlName="digit3" class="form-control" (input)="otpClick($event, digit2, digit4)">
                                                    <input validOTPField #digit4 type="text" formControlName="digit4" class="form-control" (input)="otpClick($event, digit3, digit5)">
                                                    <input validOTPField #digit5 type="text" formControlName="digit5" class="form-control" (input)="otpClick($event, digit4, digit6)">
                                                    <input validOTPField #digit6 type="text" formControlName="digit6" class="form-control" (input)="otpClick($event, digit5, '')">
                                                </div>
                                            </form>
                                        </div>

                                    </ng-container>
            
                                </ng-container>

                            </ng-container>

                        </ng-container>
                            
                        <!-- Timer should always in the DOM for the code to work. -->
                        <div [ngClass]="{'d-block col-sm-12': (customer.resend.allow && customer.flags.added && !customer.flags.verified), 'd-none': (!customer.resend.allow || !customer.flags.added || customer.flags.verified)}">
                            <div class="col-sm-12 d-flex justify-content-between">
                                <div class="resend-otp cursor-pointer" [ngClass]="{'visible': !customer.flags.startTimer, 'invisible': customer.flags.startTimer}">
                                    <p><span class="badge m-r-5 badge-pill badge-primary" (click)="resendOTP()">Resend OTP</span></p>
                                </div>
                                <div class="resend-timer" [ngClass]="{'visible': customer.flags.startTimer, 'invisible': !customer.flags.startTimer}">
                                    <countdown #cd [config]="{leftTime: 30, demand: true}" (event)="handleEvent($event)"></countdown>
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="customer.flags.checked">

                            <ng-container *ngIf="customer.flags.added">

                                <ng-container *ngIf="!customer.flags.verified">
    
                                    <ng-container *ngIf="customer.resend.allow">
                            
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-success btn-block border-rad-5" (click)="verifyOTP()" [disabled]="customerform.invalid || otpForm.invalid">Verify</button>
                                        </div>
            
                                    </ng-container>
            
                                    <div class="col-sm-12 text-center" *ngIf="!customer.resend.allow">
                                        <p>You have exceeded Resend OTP limits.</p>
                                        <p>Please, login again to verify.</p>
                                    </div>
            
                                </ng-container>
            
                            </ng-container>
            
                        </ng-container>
            
                    </div>
            
                </form>
            
            </app-card>
            
        </div>
        <!-- SENDER SECTION ENDS -->

        <!-- TRANFER VIEW STARTS -->
        <ng-container class="transfer-view" *ngIf="transferView">

            <!-- BENEFICIARY SECTION STARTS -->
            <div class="col-sm-12 col-md-4">

                <app-card [hidHeader]="true">

                    <div class="d-flex justify-content-between">
                      <h6>Recipient</h6>
                      <span ngbTooltip="Reset Form" (click)="resetForm()" class="cursor-pointer"><i class="fas fa-sync"></i></span>
                    </div>
                    
                    <form [formGroup]="beneform">
                
                        <div class="row">
                
                            <div class="col-sm-12">
                                <div class="form-group position-relative">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Beneficiary Name</mat-label>
                                        <input validBeneName matInput placeholder="Enter Beneficiary Name" formControlName="name" id="name" required (click)="beneficiary.showBenes = !beneficiary.showBenes" (input)="filterBene($event)" autocomplete="off">
                                        <mat-icon matSuffix>person</mat-icon>
                                        <mat-error *ngIf="beneform.get('name').hasError('required')">
                                          <span class="err-message">Beneficiary name is required!</span>
                                        </mat-error>
                                    </mat-form-field>
                
                                    <!-- Bene Autocomplete List -->
                                    <div class="bene-list" *ngIf="beneficiary.showBenes">
                                        <ul>
                                          <li *ngFor="let bene of customer.benes; odd as oddBene" class="bene-name" (click)="populateBene(bene)">
                                            <article class="bene-info">
                                              <span>{{bene.name}}</span>
                                              <small>{{bene.accountNumber}}</small>
                                              <small>{{bene.bankName}}</small>
                                            </article>
                                            <div class="bene-verified">
                                              <span class="position-relative" [ngClass]="{'text-danger': (bene.status === '0'), 'text-success': (bene.status === '1')}"> 
                                                <ng-container *ngIf="bene.status === '0'">
                                                  <i class="far fa-times-circle position-absolute banktick"></i> 
                                                </ng-container>
                                                <ng-container *ngIf="bene.status === '1'">
                                                  <i class="far fa-check-circle position-absolute banktick"></i> 
                                                </ng-container>
                                                <i class="fas fa-university fa-lg"></i>
                                              </span>
                                            </div>
                                          </li>
                                        </ul>
                                    </div>
                
                                </div>
                            </div>
                
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" class="full-width">
                                      <mat-label>Mobile Number</mat-label>
                                      <input validMobile matInput placeholder="Enter Mobile Number" formControlName="mobileNumber"
                                        id="beneMobileNumber" required>
                                      <mat-icon matSuffix>phone</mat-icon>
                                      <mat-error *ngIf="beneform.get('mobileNumber').hasError('required')">
                                        <span class="err-message">Mobile number is required!</span>
                                      </mat-error>
                                      <mat-error
                                        *ngIf="(beneform.get('mobileNumber').hasError('maxlength') || beneform.get('mobileNumber').hasError('minlength')) && !beneform.get('mobileNumber').hasError('pattern')">
                                        <span class="err-message">Mobile number should be 10 digits only!</span>
                                      </mat-error>
                                      <mat-error *ngIf="beneform.get('mobileNumber').hasError('pattern')">
                                        <span class="err-message">Please enter valid Mobile Number!</span>
                                      </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" class="full-width">
                                      <mat-label>Account Number</mat-label>
                                      <input validAccNum matInput placeholder="Enter Account Number" formControlName="accountNumber"
                                        id="accountNumber" required>
                                      <mat-icon matSuffix>confirmation_number</mat-icon>
                                      <mat-error *ngIf="beneform.get('accountNumber').hasError('required')">
                                        <span class="err-message">Account number is required!</span>
                                      </mat-error>
                                      <mat-error *ngIf="beneform.get('accountNumber').hasError('pattern')">
                                        <span class="err-message">Please enter valid account number!</span>
                                      </mat-error>
                                      <mat-error *ngIf="beneform.get('accountNumber').hasError('minlength')">
                                        <span class="err-message">A/C number length should be minimum 9.</span>
                                      </mat-error>
                                      <mat-error *ngIf="beneform.get('accountNumber').hasError('maxlength')">
                                        <span class="err-message">A/C number length should be maximum 18.</span>
                                      </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>Bank Name</mat-label>
                                      <input validBeneName matInput placeholder="Choose Bank" formControlName="bankName" id="bankName"
                                        [matAutocomplete]="autoBankName" required (input)="searchBank($event)">
                                      <mat-icon matSuffix>account_balance</mat-icon>
                                      <mat-autocomplete #autoBankName="matAutocomplete">
                                        <mat-option *ngFor="let bank of beneficiary.banks" [value]="bank.bankName" (click)="setIfsc(bank)">
                                          {{bank.bankName}}
                                        </mat-option>
                                      </mat-autocomplete>
                                      <mat-hint *ngIf="!beneform.get('bankName').touched">Please, type bank name and select from the list</mat-hint>
                                      <mat-hint *ngIf="beneficiary.bankDetails && (beneficiary.bankDetails.dmtEnabled === false)" [attr.class]="'text-danger'">This bank is not accepting any transactions for now.<sup>*</sup></mat-hint>
                                      <mat-error *ngIf="beneform.get('bankName').hasError('required')">
                                        <span class="err-message">Bank name is required!</span>
                                      </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>IFSC Code</mat-label>
                                      <input validIfsc placeholder="Choose IFSC Code" matInput formControlName="ifscCode"
                                        id="ifscCode" required>
                                      <mat-icon matSuffix>code</mat-icon>
                                      <mat-error *ngIf="beneform.get('ifscCode').hasError('required')">
                                        <span class="err-message">IFSC code is required!</span>
                                      </mat-error>
                                      <mat-error *ngIf="beneform.get('ifscCode').hasError('pattern')">
                                        <span class="err-message">Please enter valid IFSC Code</span>
                                      </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 mb-1" *ngIf="!beneficiary.flags.verified">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="connectThenVerify()" [disabled]="beneform.invalid">Verify Bene</button>
                                    </div>
                                    <div class="col-sm-6 mb-1" *ngIf="!beneficiary.flags.added">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="addBene()" [disabled]="beneform.invalid">Add Bene</button>
                                    </div>
                                    <div class="col-sm-6 mb-1" *ngIf="beneficiary.flags.added">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="deleteBene()">Delete Bene</button>
                                    </div>
                                    <div class="col-sm-6 mb-1" *ngIf="beneficiary.flags.update">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="updateBene()">Update Bene</button>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                
                    </form>
                
                </app-card>

            </div>
            <!-- BENEFICIARY SECTION ENDS -->

            <!-- AMOUNT SECTON STARTS -->
            <div class="col-sm-12 col-md-4">

                
                <app-card [hidHeader]="true">

                    <h6>Transfer</h6>

                    <!-- Payment View -->
                    <ng-container *ngIf="transfer.showAmountForm">

                        <form [formGroup]="amountform">
                    
                            <div class="row">
                    
                                <div class="col-sm-12">
                    
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Amount</mat-label>
                                        <input validAmount matInput placeholder="Enter Amount" formControlName="transactionAmount"
                                            id="transactionAmount" required>
                                        <!-- <mat-icon matSuffix>attach_money</mat-icon> -->
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                        <mat-error *ngIf="amountform.get('transactionAmount').hasError('required')">
                                            <span class="err-message">Amount is required!</span>
                                        </mat-error>
                                        <mat-error *ngIf="amountform.get('transactionAmount').hasError('min')">
                                            <span class="err-message">Minimum amount is {{100 | currency:'INR'}}.</span>
                                        </mat-error>
                                        <mat-error *ngIf="amountform.get('transactionAmount').hasError('maxAmount')">
                                            <span class="err-message">Amount exceeds Available Balance</span>
                                        </mat-error>
                                        </mat-form-field>
                                        <!-- <div class="text-capitalize">{{amountToWords(amountform.get('transactionAmount').value)}}</div> -->
                                    </div>            
                                
                                </div>
                    
                                <div class="col-sm-12">
                    
                                    <div class="row mb-3">
                    
                                        <div class="col-sm-6 mb-2">
                                            <button type="button" class="btn btn-block border-rad-5" [ngClass]="{'btn-outline-success': transfer.transMode !== 'IMPS', 'btn-success': transfer.transMode === 'IMPS'}" (click)="updateTransMode('IMPS')">IMPS</button>
                                        </div>
                                        <div class="col-sm-6 mb-2">
                                            <button type="button" class="btn btn-block border-rad-5" [ngClass]="{'btn-outline-success': transfer.transMode !== 'NEFT', 'btn-success': transfer.transMode === 'NEFT'}" (click)="updateTransMode('NEFT')">NEFT</button>
                                        </div>
                    
                                    </div>
                    
                                </div>
                    
                                <div class="col-sm-12">
                    
                                    <button type="button" class="btn btn-success btn-block border-rad-5 mb-4" (click)="pay()" [disabled]="amountform.invalid">Pay</button>
                    
                                </div>
                    
                                <div class="col-sm-12 position-relative amount-container">
                    
                                    <img src="assets/images/dmt/amount-details-bg.png" alt="amount_bg">
                    
                                    <div class="row position-absolute amount-details">
                                        
                                        <div class="col-6 amounts">
                    
                                            <div>
                                                <div class="amount-type">Available Balance</div>
                                                <div class="amount">{{ customer.limit | currency: 'INR' }}</div>
                                            </div>
                                            <div>
                                                <div class="amount-type">Remaining Balance</div>
                                                <div class="amount-not-applicable" *ngIf="((customer.limt-amountform.value.transactionAmount) < 0)">Not Applicable</div>
                                                <div class="amount" *ngIf="!((customer.limit-amountform.value.transactionAmount) < 0)">{{ ((customer.limit-amountform.value.transactionAmount) | currency: 'INR') }}</div>
                                            </div>
                        
                                        </div>
                        
                                        <div class="col-6 inr">
                                            <img src="assets/images/dmt/rupee-line.svg" alt="rupee_img">
                                        </div>
                    
                                    </div>
                    
                                </div>
                    
                            </div>
                    
                        </form>

                    </ng-container>

                    <!-- Confirm Payment View -->
                    <ng-container *ngIf="!transfer.showAmountForm">

                        <div class="row trans-details">

                            <div class="col-12">
                                <div class="pay-confirm-header">Customer Details</div>
                            </div>

                            <div class="col-12">

                                <div class="trans-message-dmt">
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Customer Name:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                    {{ transferData.customerData.name }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Mobile Number:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.customerData.mobileNumber }}
                                    </div>
                                </div>
                                </div>

                            </div>

                            <div class="col-12">
                                <div class="pay-confirm-header">Beneficiary Details</div>
                            </div>

                            <div class="col-12">

                                <div class="trans-message-dmt">
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Beneficiary Name:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                    {{ transferData.beneData.name }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Bank Name:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.beneData.bankName }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Beneficiary A/C:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.beneData.accountNumber }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        IFSC:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.beneData.ifscCode }}
                                    </div>
                                </div>
                                </div>

                            </div>
                            
                            <div class="col-12">

                                <div class="trans-message-dmt pay-confirm-header">
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Transfer Date:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.date | date: 'dd MMM yyyy' }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Transfer Amount:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.amount | currency: 'INR' }}
                                    </div>
                                </div>
                                    <div class="trans-row">
                                    <div class="trans-left">
                                        Transfer Mode:&nbsp;&nbsp;&nbsp;
                                    </div>
                                    <div class="trans-right">
                                        {{ transferData.mode }}
                                    </div>
                                </div>
                                </div>

                            </div>

                            <div class="col-12">

                                <div class="row mt-3">

                                    <div class="col-6">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="transfer.showAmountForm = !transfer.showAmountForm">Edit</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-success btn-block border-rad-5" (click)="connectThenTransfer()">Confirm</button>
                                    </div>

                                </div>
                            </div>
                
                        </div>

                    </ng-container>

                </app-card>

            </div>
            <!-- AMOUNT SECTON ENDS -->

        </ng-container>
        <!-- TRANFER VIEW STARTS -->

        <!-- BANNER VIEW STARTS -->
        <ng-container class="initial-view" *ngIf="!transferView">
            <div class="col-sm-12 col-md-8">
                <app-card [hidHeader]="true" [cardClass]="'initial-banner'">
                  <!-- <div class="imgContainer" style="background:url('assets/images/dmt/dmt_banner.png') no-repeat right bottom / cover;">

                  </div> -->
                    <img src="assets/images/dmt/dmt_banner.png" alt="initial_banner">
                </app-card>
            </div>
        </ng-container>
        <!-- BANNER VIEW ENDS -->

    </div>

    <div class="row" *ngIf="loader.general">
        <div class="col-sm-12 col-md-12 d-flex flex-column justify-content-center align-items-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="mt-4">Loading...</div>
        </div>
    </div>

</div>

<ngx-spinner name="senderSpinner"><p style="color: white; margin-top: 50px;" > Loading... </p></ngx-spinner>
<ngx-spinner name="elasticSpinner"><p style="color: white; margin-top: 50px;" > Fetching Bank Details... </p></ngx-spinner>

<!-- Transfer Confirmation Modal Starts -->
<app-ui-modal #confirmMessage dialogClass="modal-dialog-centered" [hideHeader]="true">

    <div class="app-modal-body">
      <div class="conf-message mb-4">
        <div>Beneficiary Bank is Offline, Would you like to proceed!</div>
        <small>Your transaction will be on hold and processed as soon as the bank gets online.</small>
      </div>
  
      <div class="d-flex justify-content-end conf-modal-btn">
        <div class="mr-2">
          <button type="button" class="btn btn-danger btn-block" (click)="confirmMessage.hide()">Cancel</button>
        </div>
        <div>
          <button type="button" class="btn btn-success btn-block" (click)="confirmMessage.hide(); connectThenTransfer(true);">Confirm</button>
        </div>
      </div>
    </div>
  
  </app-ui-modal>
  <!-- Transfer Confirmation Modal Ends -->

  <!-- TRANSACTION MODAL STARTS -->
<app-ui-modal #modalSuccess [hideHeader]="true" dialogClass="modal-dialog-centered">
    <div class="app-modal-body">
        <div class="text-right">
          <ng-container *ngIf="(socketData.operation_performed === 'FN_FUND_TRANSFER') && (!socketData.socket_timeout)">
            <span class="cursor-pointer mr-2" (click)="generatePDF()">
              <img src="assets/images/dmt/download.svg" width="32" />
            </span>
            <!-- <span class="cursor-pointer mr-2">
              <img src="assets/images/dmt/print.svg" width="32" />
            </span> -->
          </ng-container>
          <!-- <span class="cursor-pointer mr-3">
            <img src="assets/images/dmt/share.svg" width="32" />
          </span> -->
          <button type="button" class="close basic-close position-static btnModalClose" data-dismiss="modal" aria-label="Close" (click)="transModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <!-- Socket Timeout FALSE Starts -->
        <ng-container *ngIf="!socketData.socket_timeout">
    
          <!-- Bene Verification Performed Starts -->
          <ng-container *ngIf="socketData.operation_performed === 'FN_BENE_VERIFICATION'">
    
            <div class="text-center bank-image">
      
              <span class="position-relative DMTStatusImg d-inline-block">
                <img src="assets/images/dmt/bank.svg" width="100" />
                <ng-container [ngSwitch]="socketData.status">
                  <i *ngSwitchCase="'SUCCESS'" class="far fa-check-circle position-absolute transSuccess"></i>
                  <i *ngSwitchCase="'FAILED'" class="far fa-times-circle position-absolute text-danger"></i>
                  <i *ngSwitchCase="'INPROGRESS'" class="fas fa-exclamation-circle position-absolute text-warning"></i>
                  <i *ngSwitchCase="'INITIATED'" class="fas fa-exclamation-circle position-absolute text-warning"></i>
                </ng-container>
              </span>
              <div class="amount-section-popup mt-2">{{socketData.amount | currency: 'INR'}}</div>
              <ng-container [ngSwitch]="socketData.status">
                <div *ngSwitchCase="'SUCCESS'" class="trans-subheading-popup mb-3 transSuccess">Beneficiary Verification Successfull</div>
                <div *ngSwitchCase="'FAILED'" class="trans-subheading-popup mb-3 text-danger">Beneficiary Verification Failed</div>
                <div *ngSwitchCase="'INPROGRESS'" class="trans-subheading-popup mb-3 text-warning">Beneficiary Verification is in Progress</div>
                <div *ngSwitchCase="'INITIATED'" class="trans-subheading-popup mb-3 text-warning">Beneficiary Verification is in Progress</div>
              </ng-container>
              
            </div>
            
            <div class="trans-message-dmt">
              <div class="trans-row">
                <div class="trans-left">
                  Beneficiary Name:&nbsp;&nbsp;&nbsp;
               </div>
               <div class="trans-right">
                 {{socketData.bene_name}}
               </div>
             </div>
              <div class="trans-row">
                <div class="trans-left">
                  Beneficiary A/C:&nbsp;&nbsp;&nbsp;
               </div>
               <div class="trans-right">
                 {{socketData.bene_acc}}
               </div>
             </div>
              <div class="trans-row">
                <div class="trans-left">
                  IFSC:&nbsp;&nbsp;&nbsp;
               </div>
               <div class="trans-right">
                 {{socketData.bene_ifsc}}
               </div>
             </div>
              <div class="trans-row">
                <div class="trans-left">
                  Bank Name:&nbsp;&nbsp;&nbsp;
               </div>
               <div class="trans-right">
                 {{socketData.bene_bank}}
               </div>
             </div>
            </div>
    
            <div class="row trans-buttons mt-2 justify-content-end">
              <div class="col-sm-6 d-flex justify-content-end">
                <button type="button" class="btn btn-danger" (click)="addOrUpdate()">
                  {{beneficiary.flags.verified ? (beneficiary.flags.update ? 'Confirm & Update' : 'Confirm & Add') : 'OK'}}
                </button>
              </div>
            </div>
    
          </ng-container>
          <!-- Bene Verification Performed Ends -->
    
          <!-- Money Transaction Performed Starts -->
          <ng-container *ngIf="socketData.operation_performed !== 'FN_BENE_VERIFICATION'">
    
            <div class="text-center bank-image">
      
              <span class="position-relative DMTStatusImg d-inline-block">
                <!-- <i class="fas fa-university"></i> -->
                <img src="assets/images/dmt/bank.svg" width="100" />
                <ng-container [ngSwitch]="socketData.status">
                  <i *ngSwitchCase="'SUCCESS'" class="far fa-check-circle position-absolute transSuccess"></i>
                  <i *ngSwitchCase="'FAILED'" class="far fa-times-circle position-absolute text-danger"></i>
                  <i *ngSwitchCase="'INPROGRESS'" class="fas fa-exclamation-circle position-absolute text-warning"></i>
                  <i *ngSwitchCase="'INITIATED'" class="fas fa-exclamation-circle position-absolute text-warning"></i>
                </ng-container>
              </span>
              <div class="amount-section-popup mt-2">{{socketData.amount | currency: 'INR'}}</div>
              <ng-container [ngSwitch]="socketData.status">
                <div *ngSwitchCase="'SUCCESS'" class="mb-3 trans-subheading-popup transSuccess">Money Transfer Successfull</div>
                <div *ngSwitchCase="'FAILED'" class="mb-3 trans-subheading-popup text-danger">
                  <div>Money Transfer Failed</div>
                  <small>Reason: {{socketData.status_desc}}</small>
                </div>
                <div *ngSwitchCase="'INPROGRESS'" class="mb-3 trans-subheading-popup text-warning">Money Transfer is in Progress</div>
                <div *ngSwitchCase="'INITIATED'" class="mb-3 trans-subheading-popup text-warning">Money Transfer is in Progress</div>
              </ng-container>
              
            </div>
    
            <div class="container to-from">
              <div class="row mb-2 px-1">
                <div class="col-6 pl-1">
                  <div class="heading hdngborder">From</div>
                  <div class="from-name mt-2">{{socketData.customer_name}}</div>
                  <div>Mob No.: {{socketData.customer_mobile}}</div>
                </div>
                <div class="col-6 px-0">
                  <div class="heading hdngborder">To</div>
                  <div class="to-name mt-2">{{socketData.bene_name}}</div>
                  <div>A/C No.: {{socketData.bene_acc}}</div>
                  <div>Bank Name: {{socketData.bene_bank}}</div>
                  <div>IFSC: {{socketData.bene_ifsc}}</div>
                </div>
              </div>
              <div class="row mb-2 px-1">
                <div class="heading text-uppercase col px-1">Transaction Details</div>
              </div>
            </div>
    
            <div class="trans-message-dmt">
              <div class="trans-row">
                 <div class="trans-left">
                   Transaction ID:&nbsp;&nbsp;&nbsp;
                </div>
                <div class="trans-right">
                  {{socketData.id}}
                </div>
              </div>
              <div class="trans-row">
                 <div class="trans-left">
                   Transaction Mode:&nbsp;&nbsp;&nbsp;
                </div>
                <div class="trans-right">
                  {{socketData.trans_mode}}
                </div>
              </div>
              <div class="trans-row">
                 <div class="trans-left">
                   Details:&nbsp;&nbsp;&nbsp;
                </div>
                <div class="trans-right px-1" *ngIf="socketData.status === 'SUCCESS'">
                    <div class="d-flex justify-content-between">
                        <span>RRN</span>
                        <span>Amount</span>
                    </div>
                  <ng-container *ngFor="let data of socketData.rrn">
                    <div class="d-flex justify-content-between">
                        <span>{{ data.rrn }}</span>
                        <span>{{ data.amount | currency: 'INR' }}</span>
                    </div>
                  </ng-container>
                </div>
                <div class="trans-right" *ngIf="socketData.status !== 'SUCCESS'">N/A</div>
              </div>
              <div class="trans-row">
                 <div class="trans-left">
                   Status:&nbsp;&nbsp;&nbsp;
                </div>
                <div class="trans-right">
                  {{socketData.status}}
                </div>
              </div>
              <div class="trans-row">
                 <div class="trans-left">
                   Shop Name:&nbsp;&nbsp;&nbsp;
                </div>
                <div class="trans-right">
                  {{socketData.shop_name}}
                </div>
              </div>
            </div>
    
            <!-- <div class="row trans-buttons mt-2">
              <div class="col-sm-4">
                <button type="button" class="btn btn-primary btn-block" (click)="generatePDF()">Download</button>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-secondary btn-block">Print</button>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-danger btn-block" (click)="transModal.hide()">Cancel</button>
              </div>
            </div> -->
    
          </ng-container>
          <!-- Money Transaction Performed Ends -->
    
        </ng-container>
        <!-- Socket Timeout FALSE Ends -->
    
        
        <!-- Socket Timeout TRUE Starts -->
        <ng-container *ngIf="socketData.socket_timeout">
    
          <div class="text-center bank-image">
    
            <span class="position-relative DMTStatusImg d-inline-block">
              <img src="assets/images/dmt/bank.svg" width="100" />
              <i class="fas fa-exclamation-circle position-absolute text-warning"></i>
            </span>
            <div class="amount-section-popup">{{socketData.amount | currency: 'INR'}}</div>
            <div class="trans-subheading-popup text-warning">Your Money Transfer Is Being Processed!</div>
            
          </div>
    
          <div *ngIf="socketData.socket_timeout" class="text-center" style="margin: 12px 0;">
            <div>Your transaction is being processed please check report after some time.</div>
            <small>You will receive an SMS or Notification on completion of transaction.</small>
          </div>
      
          <div class="row trans-buttons mt-2 justify-content-center">
            <div class="col-sm-4">
              <button type="button" class="btn btn-danger btn-block" (click)="transModal.hide()">OK</button>
            </div>
          </div>
    
        </ng-container>
        <!-- Socket Timeout TRUE Ends -->
    
      </div>
    </app-ui-modal>
    <!-- TRANSACTION MODAL ENDS -->