<div class="col-md-12 mb-3">
    <strong>Please choose your prefered mode to add money into wallet</strong>
</div>
<div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card border-radius-10">
      <div class="col-12 text-right">
          <a [routerLink]="['/v1/payment/addviewaccount']" class="btn btn-md btn-warning">Add Account/VPA</a>
      </div>
      <ngb-tabset type="pills" activeIds="ngb-panel-2">
        <ngb-tab title="CASH DEPOSIT" class="mb-3">
          <ng-template ngbTabContent>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p>Deposit In :</p>
                </div>
            </div>
            
            <form [formGroup]="paymentForm" (submit)="checkForm()">
            
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="andhraBank">
                            <input type="radio" id="andhraBank" formControlName="depositIn" value="ANDHRA">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'ANDHRA'}">
                                <div class="bank-name">Andhra Bank</div>
                                <div class="acc-num">294311100000335</div>
                                <img src="/assets/images/banks/Andhra.jpeg" alt="andhra bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="axisBank">
                            <input type="radio" id="axisBank" formControlName="depositIn" value="AXIS BANK">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'AXIS BANK'}">
                                <div class="bank-name">Axis Bank</div>
                                <div class="acc-num">918020090249758</div>
                                <img src="/assets/images/banks/Axis.jpeg" alt="axis bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="axisBank3">
                            <input type="radio" id="axisBank3" formControlName="depositIn" value="AXIS BANK 3">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'AXIS BANK 3'}">
                                <div class="bank-name">Axis Bank 3</div>
                                <div class="acc-num">919020039065031</div>
                                <img src="/assets/images/banks/Axis.jpeg" alt="axis bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="iciciBank">
                            <input type="radio" id="iciciBank" formControlName="depositIn" value="ICICI">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'ICICI'}">
                                <div class="bank-name">ICICI Bank</div>
                                <div class="acc-num">369105000110</div>
                                <img src="/assets/images/banks/ICICI.jpeg" alt="icici bank">
                            </div>
                        </label>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="iciciBank3">
                            <input type="radio" id="iciciBank3" formControlName="depositIn" value="ICICI 3">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'ICICI 3'}">
                                <div class="bank-name">ICICI Bank 3</div>
                                <div class="acc-num">091805000363</div>
                                <img src="/assets/images/banks/ICICI.jpeg" alt="icici bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="indusBank">
                            <input type="radio" id="indusBank" formControlName="depositIn" value="INDUSIND BANK">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'INDUSIND BANK'}">
                                <div class="bank-name">Indusind Bank</div>
                                <div class="acc-num">201003515984</div>
                                <img src="/assets/images/banks/Indus.jpeg" alt="indus bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="rblBank">
                            <input type="radio" id="rblBank" formControlName="depositIn" value="RBL BANK">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'RBL BANK'}">
                                <div class="bank-name">RBL Bank</div>
                                <div class="acc-num">409000897434</div>
                                <img src="/assets/images/banks/RBL.jpeg" alt="rbl bank">
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="sbiBank">
                            <input type="radio" id="sbiBank" formControlName="depositIn" value="STATE BANK OF INDIA">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('depositIn').value === 'STATE BANK OF INDIA'}">
                                <div class="bank-name">SBI</div>
                                <div class="acc-num">36190836357</div>
                                <img src="/assets/images/banks/SBI.jpeg" alt="sbi bank">
                            </div>
                        </label>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-12">
                        <p>Payment Mode :</p>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="neftMode">
                            <input type="radio" id="neftMode" formControlName="paymentmode" value="NEFT">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('paymentmode').value === 'NEFT'}">
                                <div class="bank-name">NEFT</div>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="rtgsMode">
                            <input type="radio" id="rtgsMode" formControlName="paymentmode" value="RTGS">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('paymentmode').value === 'RTGS'}">
                                <div class="bank-name">RTGS</div>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="ufsMode">
                            <input type="radio" id="ufsMode" formControlName="paymentmode" value="IFS">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('paymentmode').value === 'IFS'}">
                                <div class="bank-name">IFS</div>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label for="impsMode">
                            <input type="radio" id="impsMode" formControlName="paymentmode" value="IMPS">
                            <div class="bank-acc" [ngClass]="{'radioSelected': paymentForm.get('paymentmode').value === 'IMPS'}">
                                <div class="bank-name">IMPS</div>
                            </div>
                        </label>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="depositDate">Deposit Date: </label>
                            <input name="depositDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="depositDate" [min]="minDate" [max]="maxDate" class="form-control" readonly="true">
                            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Deposit Amount: </label>
                            <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="amount">
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Bank(Enter Bank Name to Select): </label>
                            <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="bankname">
                          </div>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Account Number: </label>
                            <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="accountNo">
                          </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bank Ref No.: </label>
                            <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="bankRefId">
                          </div>
                    </div>
                    <div class="col-md-4 fileCol">
                        <div>Upload Receipt</div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" formControlName="receipt">
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        </div>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Remark</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="remark"></textarea>
                          </div>
                    </div>
                    <div class="col-md-4 fileCol">
                        <button type="submit" class="btn btn-primary" ngbTooltip="btn-primary">Primary</button>
                    </div>
                </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="BANK CHALLAN">
          <ng-template ngbTabContent>
            <app-bankchallan></app-bankchallan>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="CDM">
          <ng-template ngbTabContent>
            <app-cdm></app-cdm>
          </ng-template>
        </ngb-tab>
        <!-- <ngb-tab title="UPI">
          <ng-template ngbTabContent>
            <app-upi></app-upi>
          </ng-template>
        </ngb-tab> -->
        <ngb-tab title="VIRTUAL ACCOUNT">
          <ng-template ngbTabContent>
            <app-virtualaccount></app-virtualaccount>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="PAYMENT GATEWAY">
          <ng-template ngbTabContent>
            <app-paymentgateway></app-paymentgateway>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
  
<!-- <div class="row mt-3">
    <div class="col-md-12">
        <div class="modes">
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">Cash Deposit</button>
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">
                <div>
                    <div>Easy Pay</div>
                    <div>Coming Soon</div>
                </div>
            </button>
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">
                <div>
                    <div>CDM</div>
                    <div>Coming Soon</div>
                </div>
            </button>
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">
                <div>
                    <div>Upi</div>
                    <div>Instant Credit</div>
                </div>
            </button>
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">
                <div>
                    <div>Virtual Account</div>
                    <div>Coming Soon</div>
                </div>
            </button>
            <button type="button" class="btn btn-light" ngbTooltip="btn-light">Payment Gateway</button>
        </div>
    </div>
</div> -->
