<div class="auth-wrapper maintenance">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <img src="assets/images/maintenance/403.png" alt="" class="img-fluid">
            <h5 class="text-muted my-4">Access Forbidden. DMT Feature is not enabled.</h5>
            <button class="btn waves-effect waves-light btn-primary mb-4" [routerLink]="['/v1/dashboard/analytics']">Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  