<div class="card p-3">
    <div>
        <!-- <div class="card bg-white"> -->
        <button type="button" class="btn back_btn mt-3" (click)="previousPage()"><i
                class="fas fa-arrow-alt-circle-left"></i></button>
        <!-- <div class="card-header">
        </div> -->
        <!-- <div class="card-body"> -->
        <div class="row col-sm-12">

            <!-- <div class="col-sm-12 text-right"><button class="btn btn-success" (click)="openModal()"
                [disabled]="purchase_form.invalid">Add Product</button></div> -->
        </div>
        <form [formGroup]="purchase_form">
            <div class="col-sm-12 px-0 d-flex flex-row">
                <div class="col-sm-2 ">
                    <label for="">Invoice Number</label>
                    <input type="text" formControlName="invo" class="form-control">
                </div>
                <div class="col-sm-3 pl-0">
                    <label for="">Custmer Name</label>
                    <select class="form-control" formControlName="custmer"
                        (ngModelChange)="vendorType($event); resetProductForm()">
                        <option value="choose_cname" disabled>Choose</option>
                        <option [value]="vendor.customer_id" *ngFor="let vendor of getVendorData">{{vendor.name}}
                        </option>
                    </select>

                </div>
                <div class="col-sm-2">
                    <label for="">Purchase Date</label>
                    <input type="date" [max]="today" formControlName="p_date" class="form-control">
                </div>
                <!-- <ng-template *ngIf="showInps"> -->
                <div class="col-sm-2 ">
                    <label for="">Payment Status</label>
                    <!-- <input type="text" formControlName="payStatus" class="form-control" readonly> -->
                    <select formControlName="payStatus" class="form-control">
                        <option value="choosepay" disabled>Choose Payment Status</option>
                        <option value="f_paid">Fully Paid</option>
                        <option value="p_paid">Partial Paid</option>
                        <option value="not_init">Not Initiated</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="">Payment Mode</label>
                    <!-- <input type="text" formControlName="payMode" class="form-control" readonly> -->
                    <select formControlName="payMode" class="form-control">
                        <option value="choosepaymode" disabled>Choose Payment Mode</option>
                        <option value="Cash">Cash</option>
                        <option value="Online">Online</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Credit">Credit</option>
                    </select>
                </div>
                <div class="col-sm-1 px-0">
                    <label for="">Amount</label>
                    <input type="text" formControlName="amnt" class="form-control">
                </div>
                <!-- </ng-template> -->
            </div>
        </form>
        <table class="table w-100 mt-5" *ngIf="productformarray.length!=0">
            <thead class="bg-primary">
                <tr>
                    <th class="text-white" scope="col">Product Id</th>
                    <th class="text-white" scope="col">Item Id</th>
                    <th class="text-white" scope="col">IGST</th>
                    <th class="text-white" scope="col">CGST</th>
                    <th class="text-white" scope="col">SGST</th>
                    <th class="text-white" scope="col">HSN</th>
                    <th class="text-white" scope="col">Price</th>
                    <th class="text-white" scope="col">Quantity</th>
                    <th class="text-white" scope="col">Discount</th>
                    <th class="text-white" scope="col">Total</th>
                    <th class="text-white" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of duplicateproductformarray;let i=index">

                    <td>{{data.category}}</td>
                    <td>{{data.prod_id}}</td>
                    <td>{{data.igst}}</td>
                    <td>{{data.cgst}}</td>
                    <td>{{data.sgst}}</td>
                    <td>{{data.hsn}}</td>
                    <td>{{data.price}}</td>
                    <td>{{data.qty}}</td>
                    <td>{{data.discount}}</td>
                    <td>{{data.total}}</td>
                    <td (click)="delete(i)"><i class="fa fa-trash" aria-hidden="true"></i></td>
                </tr>

            </tbody>
        </table>
        <!-- <div class="row col-sm-12" *ngIf="productformarray.length!=0">

        <div class="col-sm-12 text-right"><button class="btn btn-success"
                (click)="add_purchase_details()">Submit</button></div>
    </div> -->

        <!-- </div> -->
        <!-- </div> -->

        <div class="mt-3">
            <form [formGroup]="productForm">
                <table width="100%" border="1px solid gray" class="text-center"
                    style="border-collapse: separate;text-indent: initial;">
                    <thead class="bg-white">
                        <tr>
                            <th style="width: 25%;">Product</th>
                            <!-- <th>Item</th> -->
                            <th>Hsn</th>
                            <th>Quantity</th>
                            <th>Sale Price</th>
                            <th>Discount</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>IGST</th>
                            <th>Total</th>
                            <th>Delete</th>
                        </tr>

                    </thead>
                    <tbody>
                        <ng-container formArrayName="product">
                            <tr *ngFor="let Product of productForm.get('product')['controls'];let i=index"
                                [formGroupName]="i">
                                <td>
                                    <select class="form-control table_input" id="category"
                                        (change)="chooseCategory(Product, $event.target.value); totalCalculation()"
                                        formControlName="category" [disabled]="purchase_form.invalid">
                                        <option selected value="ChooseProduct" disabled>Choose Product</option>
                                        <option class="disable" *ngFor="let category of getCatagoryData;let i=index"
                                            [value]="category.prod_id"
                                            [disabled]="purchase_form.invalid || purchase_form.get('custmer').value == 'choose_cname'">
                                            {{category.prod_name}}</option>
                                    </select>
                                </td>
                                <!-- <td>
                                <select class="form-control" id="prod_id" formControlName="prod_id"
                                    (change)="chooseItem($event.target.value,i)" [disabled]="purchase_form.invalid">
                                    <option selected value="choose">ChooseProduct </option>
                                    <option *ngFor="let item of itemData" [value]="item.prod_id">{{item.prod_name}}
                                    </option>
                                </select>
                            </td> -->
                                <td><input type="text" formControlName="hsn" class="form-control table_input" disabled>
                                </td>
                                <td><input type="number" formControlName="qty" id="qty" class="form-control table_input"
                                        (input)="calc_total(Product.controls); totalCalculation()"
                                        (keypress)="prevent($event, 'qty')" min="1"
                                        [readonly]="Product.controls.category.value == 'ChooseProduct'">
                                </td>
                                <td><input type="number" formControlName="price" id="price"
                                        class="form-control table_input" disabled></td>
                                <td><input type="number" formControlName="discount" (keypress)="prevent($event,'dis')"
                                        min="0" id="discount" class="form-control table_input"
                                        (input)="calc_total(Product.controls); totalCalculation()"
                                        [readonly]="Product.controls.category.value == 'ChooseProduct'"></td>
                                <td><input type="number" formControlName="cgst" class="form-control table_input"
                                        disabled></td>
                                <td><input type="number" formControlName="sgst" class="form-control table_input"
                                        disabled></td>
                                <td><input type="number" formControlName="igst" class="form-control table_input"
                                        disabled></td>
                                <td><input type="number" formControlName="total" class="form-control table_input"
                                        readonly></td>
                                <!-- <td>
                                <button border="none" class="btn btn-primary disable" (click)="submitArray(i)"
                                    [disabled]="i.invalid"><i class="fas fa-check"></i></button>
                            </td> -->
                                <td>
                                    <button border="none" class="btn delete_btn disable"
                                        (click)="deleteRow(i); totalCalculation()"
                                        [disabled]="productForm.get('product').length == 1"><i
                                            class="fas fa-times-circle"></i></button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tfoot style="border: none;">
                        <tr style="border: none;">
                            <td colspan="2" style="white-space: nowrap; float: left; padding: 2px;"><button
                                    class="btn btn-primary disable" (click)="add_row()"
                                    [disabled]="productForm.get('product')['controls'][productForm.get('product')['controls'].length-1].value.category == 'ChooseProduct'">Add
                                    Row</button>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </form>
        </div>


    </div>

    <div class="total_cal">
        <table style="width: 290px; color: black;">
            <tr>
                <th style="width: 120px;"></th>
                <th style="width: 50px;"></th>
                <th style="width: 120px;"></th>
            </tr>
            <tr>
                <td>Total IGST</td>
                <td>:</td>
                <td><input name="t_igst" [(ngModel)]="t_igst" class="total_cal_field" type="text" readonly></td>
            </tr>
            <tr>
                <td>Total SGST</td>
                <td>:</td>
                <td><input name="t_sgst" [(ngModel)]="t_sgst" class="total_cal_field" type="text" readonly></td>
            </tr>
            <tr>
                <td>Total CGST</td>
                <td>:</td>
                <td><input name="t_cgst" [(ngModel)]="t_cgst" class="total_cal_field" type="text" readonly></td>
            </tr>
            <tr>
                <td>Total Amount</td>
                <td>:</td>
                <td><input name="t_amount" [(ngModel)]="t_amount" class="total_cal_field" type="text" readonly></td>
            </tr>
        </table>
    </div>

    <div class="footer_btn">
        <button class="btn btn-danger mr-2" (click)="resetProductForm()">Cancel</button>
        <button class="btn btn-primary disable" (click)="add_purchase_details()">Submit</button>
    </div>

</div>





<!-- <div id="myModal2" class="modal2" *ngIf="openmodal">

    <div class="card">
        <div class="card-header text-danger text-right"><span (click)="openmodal=false"
                style="cursor: pointer;">X</span>
        </div>
        <div class="card-body">
            <form [formGroup]="productForm">
                <div class="row">
                    <div class="col"> 
                        <label>Choose Product</label>
                        <select class="form-control" (change)="chooseCategory($event.target.value)"
                            formControlName="category">
                            <option selected value="choose">ChooseCategory</option>
                            <option *ngFor="let category of getCatagoryData;let i=index" [value]="category.cat_id">
                                {{category.cat_name}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Item</label>
                        <select class="form-control" formControlName="prod_id"
                            (change)="chooseItem($event.target.value)">
                            <option selected value="choose">ChooseProduct </option>
                            <option *ngFor="let item of itemData" [value]="item.prod_id">{{item.prod_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label>IGST</label>
                        <input type="number" formControlName="igst" class="form-control" disabled>
                    </div>
                    <div class="col">
                        <label>CGST</label>
                        <input type="number" formControlName="cgst" class="form-control" disabled>
                    </div>
                    <div class="col">
                        <label>SGST</label>
                        <input type="number" formControlName="sgst" class="form-control" disabled>
                    </div>
                    <div class="col">
                        <label>Hsn</label>
                        <input type="text" formControlName="hsn" class="form-control" disabled>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label>Sale Price</label>
                        <input type="number" formControlName="price" class="form-control" (input)="calc_total()">
                    </div>
                    <div class="col">
                        <label>Quantity</label>
                        <input type="number" formControlName="qty" class="form-control" (input)="calc_total()">
                    </div>
                    <div class="col">
                        <label>Discount</label>
                        <input type="number" formControlName="discount" class="form-control" (input)="calc_total()">
                    </div>
                    <div class="col">
                        <label>Total</label>
                        <input type="number" formControlName="total" class="form-control" readonly>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 text-right ">
                        <button type="button" class="btn btn-danger" (click)="submitArray();openmodal=false"
                            [disabled]="productForm.invalid">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- Loader Starts -->
<div *ngIf="loader"
    class="spinner-container spinner-container d-flex position-fixed h-100 w-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Loader Ends -->