.user-img {
    border-radius: 50%;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

:host ::ng-deep {
    .login-alert {
        position: absolute;
        top: 10px;
        right: 10px;
        .alert {
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
            background-color: var(--success);
            border-color: var(--success);
            color: #fff;
        }
    }
}


// khwaja
.sideDiv{
    background-image: linear-gradient(rgb(52, 194, 194), rgb(187, 187, 16), rgb(217, 98, 118));
    height: 100vh;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.detailsForm{
    display: flex;
    flex-direction: column;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.pcoded-content{
    padding: 0 !important;
}
.fixImg{
    position: relative;
}
.text_block{
    position: absolute;
    bottom: 30px;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footImg{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brands{
    display: flex;
    justify-content: space-between;
}
.subBtn{
    margin-top: 20px;
}
.logBtn{
    height: 55px;
    width: 100%;
    color: #FFF;
    background-color: #0069BA;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: normal;
    margin-top: 120px;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lableTag{
    display: flex;
    color: #455360;
    font-size: 16px;
    font-weight: 900;
    margin-top: 10px;
}
.inpTag{
    width: 100%;
    border: 2px solid #EBEBEB;
    border-radius: 3px;
    height: 45px;
    background-color: #FFF;
    font-weight: 500;
    padding: 10px;
    outline: 2px solid rgb(52, 194, 194);
}