<div class="container card p-3" *ngIf='!show_prod && !scrap_con'>
    <div class="prod_table">
        <div style="float: right; margin: 10px 0;">
            <button class="btn btn-primary" (click)="showAddProduct()">Add Production</button>
        </div>
        <table class="table v-middle nowrap">
            <thead>
                <tr>
                    <th class="border-top-0">Product NAME</th>
                    <th class="border-top-0">Quantity</th>
                    <th class="border-top-0">Status</th>
                    <th class="border-top-0">Entry Time</th>
                    <th class="border-top-0">Expected Time</th>
                    <th class="border-top-0 text-center">View</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of getProductData; let i = index">
                    <td>{{data.prod_name}}</td>
                    <td>{{data.quantity}}</td>
                    <td *ngIf="data.status == 'complete'" style="text-transform: capitalize;">Completed</td>
                    <td *ngIf="data.status == 'complete'">
                        <select (change)="updateProduct($event.target.value,data)" class="selSts">
                            <option value="in process" selected>In Progress</option>
                            <option value="complete">Completed</option>
                        </select>
                    </td>
                    <td>{{data.entry_time | date}}</td>
                    <td>
                        <input name="dateRange2" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="data.expected_time"
                        class="form-control disable" [min]="today" readonly="true" [disabled]="data.status == 'complete'" placeholder="YYYY-MM-DD" style="width: 230px;">
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    </td>
                    <td class="text-center"><span (click)="editProduct(data)" style="cursor: pointer;"><i class="fas fa-eye"></i></span></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>


<app-scrap-consumption *ngIf='!show_prod && scrap_con' (BackTab)="back($event)" [edit]="edit" [rawmatData]="rawmatData"></app-scrap-consumption>
<app-prod-entry *ngIf='show_prod && !scrap_con' (BackTab)="back($event)"></app-prod-entry>



<!-- <div class="modal2" *ngIf='show_prod && !edit_prod'>
    <div class="css_modal_content2">
        <form [formGroup]="addProductForm" class="my-3">
            <div class="mb-2">
                <div>
                    <label for="" class="mb-2">Product Name</label>
                    <select formControlName="prod_name" class="form-control">
                        <option value="choose_prod">Choose Product</option>
                        <option class="disable" *ngFor="let category of productCategory;let i=index"
                            [value]="category.prod_id">
                            {{category.prod_name}}</option>
                    </select>
                </div>
                <div>
                    <label for="" class="mb-2">Target Time</label>
                    <input name="dateRange" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="target_time"
                        class="form-control" [min]="today" readonly="true" placeholder="YYYY-MM-DD">
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <div>
                    <label for="" class="mb-2">Quantity</label>
                    <input type="text" (keypress)="prevent_char($event)" (input)="prevent_0($event)" formControlName="qty" class="form-control">
                    <div class="error_msg" *ngIf="qty_error">{{qty_error}}</div>
                </div>
            </div>
            <div class="btns my-3" style="float: right;">
                <button class="btn btn-primary disable mr-2" type="submit" [disabled]="!addProductForm.valid || qty_error"
                    (click)="add_Product()">Add</button>
                <button class="btn btn-warning" type="reset" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div> -->


<div class="modal2" *ngIf='edit_prod'>
    <div class="css_modal_content2">
        <div>Do you want to do Scrap & Consumption ?</div>
        <!-- <div>Do you want to View Your Scrap & Consumption ?</div> -->
        <div class="btns my-3 d-flex justify-content-center">
            <button class="btn btn-primary disable mr-2" type="submit"
                (click)="get_Product(); cancelEdittab()">Cancel</button>
            <button class="btn btn-warning" type="reset" (click)="showscrapcons(); cancelEdittab()">OK</button>
        </div>

    </div>
</div>


<!-- <div class="modal2" *ngIf='!show_prod && edit_prod'>
    <div class="css_modal_content2">
        <form [formGroup]="editProductForm" class="my-3">

            <div class="mb-2">
                <div>
                    <input type="hidden" formControlName="prod_id" class="form-control">
                </div>
                <div>
                    <label for="" class="mb-2">Status</label>
                    <select formControlName="status" (change)="chStatus($event)" class="form-control">
                        <option value="progress">In Progress</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <div>
                    <label for="" class="mb-2">Target Time</label>
                    <input name="dateRange" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="target_time" (dateTimeChange)="getScheduledTime($event)"
                        class="form-control" [min]="today" readonly="true" placeholder="YYYY-MM-DD">
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                </div>
            </div>

            <div class="mb-2" *ngIf="scrap">
                <div>
                    <label for="" class="mb-2">Scrap :</label>
                    <input type="text" class="form-control" (input)="getSc($event)" formControlName="scrap" autocomplete="off"> 
                    
                    <div #elasticResDiv class="elasticResDiv" *ngIf="showAutcompleteList===true">        
                        <ul class="list-group">        
                          <li class="list-group-item" *ngFor="let data of getscrapData" (click)="selectScrap(data)">        
                            {{data.type}}</li>        
                        </ul>        
                      </div>

                </div>
                <div>
                    <label for="" class="mb-2">Quantity</label>
                    <input type="text" (keypress)="prevent_char($event)" (input)="prevent_0($event)" formControlName="qty" class="form-control">
                </div>
                <div>
                    <label for="" class="mb-2">Unit</label>
                    <input type="text" formControlName="unit" class="form-control">
                </div>
            </div>

            <div class="btns my-3" style="float: right;">
                <button class="btn btn-primary disable mr-2" type="submit" [disabled]="!editProductForm.valid || qty_error"
                    (click)="updateProduct_scrap()">Update</button>
                <button class="btn btn-warning" type="reset" (click)="cancelEdittab()">Cancel</button>
            </div>
        </form>
    </div>
</div> -->