<!-- Loader Starts -->
<div *ngIf="loader"
    class="spinner-container spinner-container d-flex position-fixed h-100 w-100 justify-content-center align-items-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<!-- Loader Ends -->
<div class="container card p-3">
    <div class="prod_table" *ngIf='!showAddVendor'>
        <div style="float: right; margin-top: 10px;">
            <button class="btn btn-primary" (click)="show_AddVendor()">Add Customer</button>
        </div>
        <div class="table-responsive">
            <table class="table v225555-middle nowrap">
                <thead>
                    <tr>
                        <th class="border-top-0">Customer Name</th>
                        <th class="border-top-0">ID Card No.</th>
                        <th class="border-top-0">Email</th>
                        <th class="border-top-0">Mobile</th>
                        <th class="border-top-0">Type</th>
                        <th class="border-top-0">GST</th>
                        <th class="border-top-0">Address</th>
                        <th class="border-top-0">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of getVendorData; let i = index">
                        <td>{{getVendorData[i].name}}</td>
                        <td>{{getVendorData[i].id}}</td>
                        <td>{{getVendorData[i].email}}</td>
                        <td>{{getVendorData[i].mobile}}</td>
                        <td>{{getVendorData[i].type}}</td>
                        <td>{{getVendorData[i].gstn}}</td>
                        <td>{{getVendorData[i].address}}</td>
                        <td class="d-flex">
                            <span style="cursor: pointer;"><i class="fa fa-edit" aria-hidden="true"
                                    (click)="update_vend_popup_open(content,i)"></i></span>
                            <span class="mx-2" style="cursor: pointer;" (click)="delete_vendor(i)"><i
                                    class="fa fa-trash" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="add_vendor" *ngIf='showAddVendor'>

        <div class="modal_head">
            <div class="modal_body">
                <div class="addVendorForm">
                    <div class="col-sm-12 row">
                        <p style="font-weight: 300;margin-top: 10px;background-color: #F9FAFA;">Add Customer</p>
                        <hr style="width: 100%;">
                    </div>
                    <form [formGroup]="addVendorForm" class="my-3">
                        <div class="col-sm-12 row">
                            <div class="col-sm-4">
                                <input type="text" placeholder="Name" class="form-control inp_tag"
                                    formControlName="ven_name">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="ID" class="form-control inp_tag" formControlName="id">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="col-sm-12 row">
                            <p style="font-weight: 300;margin-top: 20px;background-color: #F9FAFA;">Customer Details</p>
                            <hr style="width: 100%;">
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-4">
                                <input type="email" placeholder="Email" class="form-control inp_tag"
                                    formControlName="ven_email">
                                    <div *ngIf="addVendorForm.get('ven_email').hasError('pattern') && addVendorForm.get('ven_email').touched"
                                    class="err-message">
                                    <span class="text-danger">Invalid Email ID</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Mobile No" class="form-control inp_tag"
                                    formControlName="mob">
                                    <div *ngIf="addVendorForm.get('mob').hasError('minlength') && addVendorForm.get('mob').touched"
                                    class="err-message">
                                    <span class="text-danger">Mobile no should not be less than 10 digit</span>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="col-sm-12 row">
                            <hr style="width: 100%;">
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-4">
                                <input type="text" placeholder="GST No" class="form-control inp_tag" maxlength="15"
                                    minlength="15" formControlName="gst_in" #gst
                                    (input)="gst.value=$event.target.value.toUpperCase()">
                                <div *ngIf="addVendorForm.get('gst_in').hasError('minlength') && addVendorForm.get('gst_in').touched"
                                    class="err-message">
                                    <span class="text-danger">It should be 15 digits.</span>
                                </div>
                                <div *ngIf="addVendorForm.get('gst_in').hasError('pattern') && addVendorForm.get('gst_in').touched"
                                    class="err-message">
                                    <span class="text-danger">Invalid GST No.</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" placeholder="Address" class="form-control inp_tag"
                                    formControlName="add">
                                    <div *ngIf="addVendorForm.get('add').hasError('minlength') && addVendorForm.get('add').touched"
                                    class="err-message">
                                    <span class="text-danger">Address should not be less than 10 character</span>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="col-sm-12 row">
                            <hr style="width: 100%;">
                        </div>
                        <div class="col-sm-12 row">
                            <div class="col-sm-4">
                                <select name="" id="" formControlName="type" class="form-control inp_tag">
                                    <option selected disabled>Select Type</option>
                                    <option value="Intra State">Intra State</option>
                                    <option value="Inter State">Inter State</option>
                                </select>
                            </div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-right p-0 mt-3">
            <button class="btn btn-warning mr-1" type="reset" (click)="hide_AddVendor()">Cancel</button>
            <button class="btn btn-primary" type="submit" [disabled]="addVendorForm.invalid"
                (click)="add_Vendor()">Add</button>
        </div>
    </div>
</div>
<!-- modal starts -->
<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
        <button class="close_btn">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="d('Cross click')"></i>
        </button>
    </div> -->
    <div class="modal-body">
        <div class="updateVendorForm">
            <form [formGroup]="updateVendorForm" class="my-3">
                <label class="lab_tag" for="">Customer Name: <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="ven_name">
                <label class="lab_tag" for="">ID: </label>
                <input type="text" class="form-control" formControlName="id">
                <label class="lab_tag" for="">Email: <span class="text-danger">*</span></label>
                <input type="email" class="form-control" formControlName="ven_email">
                <div *ngIf="updateVendorForm.get('ven_email').hasError('pattern') && updateVendorForm.get('ven_email').touched"
                    class="err-message">
                    <span class="text-danger">Invalid Email ID</span>
                </div>
                <label class="lab_tag" for="">Mobile No: <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="mob">
                <div *ngIf="updateVendorForm.get('mob').hasError('minlength') && updateVendorForm.get('mob').touched"
                class="err-message">
                <span class="text-danger">Mobile no should not be less than 10 digits</span>
            </div>
                <label class="lab_tag" for="">Type: <span class="text-danger">*</span></label>
                <select name="" id="" formControlName="type" class="form-control">
                    <option value="type" selected disabled>Select Type</option>
                    <option value="Intra State">Intra State</option>
                    <option value="Inter State">Inter State</option>
                </select>
                <label class="lab_tag" for="">GST No: <span class="text-danger">*</span></label>
                <input type="text" class="form-control" maxlength="15" minlength="15" formControlName="gst_in" #gst
                    (input)="gst.value=$event.target.value.toUpperCase()" readonly>
                <div *ngIf="updateVendorForm.get('gst_in').hasError('minlength') && updateVendorForm.get('gst_in').touched"
                    class="err-message">
                    <span class="text-danger">It should be 15 digits.</span>
                </div>
                <div *ngIf="updateVendorForm.get('gst_in').hasError('pattern') && updateVendorForm.get('gst_in').touched"
                    class="err-message">
                    <span class="text-danger">Invalid GST No.</span>
                </div>
                <label class="lab_tag" for="">Address: <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="add">
                <div *ngIf="updateVendorForm.get('add').hasError('minlength') && updateVendorForm.get('add').touched"
                class="err-message">
                <span class="text-danger">Address should not be less than 10 character</span>
            </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="update_vend_popup_close(content)">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="updateVendorForm.invalid"
            (click)="update_vendor()">Submit</button>
    </div>
</ng-template>