/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~toastify-js/src/toastify.css";
@import "vex-js/dist/css/vex.css";
@import "vex-js/dist/css/vex-theme-default.css";

// .datatable-header-cell {
//   text-transform: capitalize;
//   background-color: #4680ff;
// }

// .ngx-datatable.material .datatable-header .datatable-header-cell {
//   text-transform: capitalize;
//   background-color: #4680ff;
//   color: #fff;
// }

// @import "../node_modules/angular-calendar/css/angular-calendar.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "../node_modules/angular-calendar/css/angular-calendar.css";
// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

// Toastr Classess Start
.toastr-base {
  font-size: 20px;
}
.toastr-success {
  background: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}
.toastr-error {
  background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
.mat-tab-body-content{
  overflow: hidden !important;
}
.form-wrapper .card .card-header {
  border-bottom: 0px solid #e2e5e8;
  position: absolute;
  z-index: 9;
  right: 10px;
  top: -4px;
}
// Toastr Classess End

// DMT message tip CSS Starts
.message-tip-container {
  cursor: pointer;
  .tooltip-inner {
    max-width: 300px;
    width: 300px;
  }
  span:hover {
    color: var(--yellow);
  }
}
// DMT message tip CSS Ends

.modal-max-1200 {
  max-width: 1200px;
}

.modal-max-900 {
  max-width: 900px;
}

.action-cell-class {
  .popover-body {
    display: flex;
    div {
      cursor: pointer;
    }
  }
}

.fundtransfer-new {
  .mat-form-field {
    width: 100%;
  }
}

.w-100-p {
  width: 100% !important;
}

// CSS For Notification Pop up in the Navbar
.pcoded-header .dropdown .notification .noti-body {
  height: 400px;
}

.h-auto{
  height: auto;
}

.h-auto .card-body {
  min-height: 300px !important;
}

.deviceGroup .mat-select-value-text{
  padding-left: 16px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  display: inline-block;
}

.radiobtnstyle .mat-radio-outer-circle {
  border-color: #4680ff !important;
}

.radiobtnstyle .mat-radio-inner-circle {
  background-color: #4680ff !important;
}

.formwrapper .card-header {
  display: none;
}
.formwrapper .card-body{padding: 20px;}
.head4 {
  font-size: 18px;
  margin: 20px 0px;
}

/* .mat-progress-bar-fill::after {
    background-color: green;
}
 */
// Css for the wallet balnce in header
@media only screen and (max-width: 990px) {
  .pcoded-header .navbar-nav > li:first-child {
    color: black;
  }
}
