.form-control[readonly] {
    background-color: #fff;
    cursor: pointer;
}

.submitBtnCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .form-group {
      margin-bottom: 2.4rem;
    }
}

.date-valid-message {
  color: red;
  font-weight: bold;
  font-size: 12px;
}